- content_for :normal_title, I18n.t('edit_personal_collections')
- content_for :normal_content do 
  - content_for :form_errors, error_box(:object => @collection)

  = form_for @collection, :html => {:class => 'kor_form'}, :builder => Kor::FormBuilder do |f|
    - @collection.policies.each do |policy|
      = f.kor_input policy, 
        :control => credentials_selector_tag("collection[grants_by_policy][#{policy}][]",
          :replace => true,
          :collection => @collection, 
          :policy => policy)
    
    = f.kor_submit
