<% content_for :title, @title %>
<% content_for :content do %>
  <div class="text">
    <%= @red_cloth.to_html.html_safe %>

    <% unless @entities.empty? %>
      <div class="random_entities">
        <%= render(
          partial: 'entities/gallery',
          locals: {
            top_left: I18n.t('pages.random_entities').capitalize_first_letter,
            results: @entities,
            top_right: ""
          }
        ) %>
      </div>
    <% end %>
  </div>
<% end -%>