- content_for :title, @title
- content_for :content do
  .text
    = @red_cloth.to_html.html_safe

    - unless @entities.empty?
      .random_entities
      = render :partial => 'entities/gallery', locals: {top_left: I18n.t('pages.random_entities').capitalize, results: @entities, top_right: ""}
