= attachment do
  = render(:partial => 'layouts/relational_form_field', :locals => { |
    :relation_names => Relation.available_relation_names(from_ids: @kind_id), |
    :relation_name => nil, |
    :entity_name => nil |
  }) |
