---
http_interactions:
- request:
    method: get
    uri: https://wdq.wmflabs.org/api
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: UTF-8
      string: '{"status":{"error":"OK","items":1,"querytime":"75ms","parsed_query":"STRING[227:''118640445'']"},"items":[762]}'
  recorded_at: Sun, 13 Dec 2015 15:32:14 GMT
recorded_with: VCR 3.0.0
