---
http_interactions:
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%0A%20%20%20%20%20%20SELECT%20?id%20?label%0A%20%20%20%20%20%20WHERE%20%7B%0A%20%20%20%20%20%20%20%20?id%20wdt:P31/wdt:P279*%20wd:Q19847637%20.%0A%20%20%20%20%20%20%20%20?id%20rdfs:label%20?label%20filter%20(lang(?label)%20=%20%27en%27)%20.%0A%20%20%20%20%20%20%7D%0A%20%20%20%20
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+xml;charset=utf-8
      X-Analytics:
      - WMF-Last-Access=01-Oct-2019;WMF-Last-Access-Global=01-Oct-2019;https=1
      X-Client-Ip:
      - 70.179.22.74
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<sparql xmlns='http://www.w3.org/2005/sparql-results#'>\n\t<head>\n\t\t<variable
        name='id'/>\n\t\t<variable name='label'/>\n\t</head>\n\t<results>\n\t\t<result>\n\t\t\t<binding
        name='id'>\n\t\t\t\t<uri>http://www.wikidata.org/entity/P3235</uri>\n\t\t\t</binding>\n\t\t\t<binding
        name='label'>\n\t\t\t\t<literal xml:lang='en'>PhilPapers topic</literal>\n\t\t\t</binding>\n\t\t</result>\n\t\t<result>\n\t\t\t<binding
        name='id'>\n\t\t\t\t<uri>http://www.wikidata.org/entity/P3240</uri>\n\t\t\t</binding>\n\t\t\t<binding
        name='label'>\n\t\t\t\t<literal xml:lang='en'>NBN System Key</literal>\n\t\t\t</binding>\n\t\t</result>\n\t\t<result>\n\t\t\t<binding
        name='id'>\n\t\t\t\t<uri>http://www.wikidata.org/entity/P3241</uri>\n\t\t\t</binding>\n\t\t\t<binding
        name='label'>\n\t\t\t\t<li[...]
