---
http_interactions:
- request:
    method: get
    uri: https://wdq.wmflabs.org/api
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: UTF-8
      string: '{"status":{"error":"OK","items":1,"querytime":"0ms","parsed_query":"STRING[1422:''195'']"},"items":[762]}'
  recorded_at: Mon, 05 Sep 2016 10:41:50 GMT
recorded_with: VCR 3.0.3
