<div ng-controller="entities_controller">

  <div class="layout_panel">
    <div class="content_panel gallery">
      <div class="title">
        {{ 'nouns.isolated_entity' | translate:{count: 'other'} | capitalize }}
      </div>

      <div 
        kor-pagination="true"
        kor-total="total"
        kor-per-page="16"
        kor-use-search="true"
      ></div>

      <table class="kor_table">
        <tbody>
          <tr ng-repeat="row in result.grouped_records">
            <td ng-repeat="entity in row" class="gallery_item">
              <a href="/blaze#/entities/{{entity.id}}">
                <span ng-bind="entity.name"></span>
                <img ng-src="{{entity.medium.url.thumbnail}}" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
