<a ng-bind="'nouns.search' | translate" ng-click="tab = 'search'"></a> | 
<a ng-bind="'recently_visited' | translate" ng-click="tab = 'visited'"></a> |
<a ng-bind="'recently_created' | translate" ng-click="tab = 'created'"></a>

<div ng-show="tab == 'search'">
  <input ng-model="terms" />
</div>
<div ng-show="tab == 'visited'"></div>
<div ng-show="tab == 'created'"></div>

<ul>
  <li ng-repeat="record in results.raw_records">
    <span ng-show="entity.uuid == record._source.uuid">»</span>
    <a ng-click="select(record._source)">
      <span ng-bind-html="record.highlight.name[0]" ng-show="record.highlight"></span>
      <span ng-bind="record._source.name" ng-hide="record.highlight"></span>
    </a>
  </li>
</ul>