<span ng-show="entity.id">
  <span ng-hide="entity.kind_id == 1">
    <div class="name" ng-bind-html="entity.name"></div>
    <div class="kind" ng-bind-html="kind_name()"></div>
  </span>
  <img 
    ng-show="entity.kind_id == 1"
    ng-src="{{entity.url || entity.medium.url}}"
  />
</span>