- content_for :normal_title, I18n.t('objects.move', :o => AuthorityGroup.model_name.human)
- content_for :normal_content do
  = form_for @authority_group, :html => { :class => 'kor_form' }, :builder => Kor::FormBuilder  do |f|
    = f.hidden_field :lock_version
    
    = f.kor_input AuthorityGroupCategory.model_name.human, :control => f.select(:authority_group_category_id, authority_group_categories_options)

    = kor_submit_tag
