<!DOCTYPE html>

<html>
  <body>
    <table>
      <tbody>
        <% (2..2).to_a.each do |m| %>
          <tr>
            <td><h1><%= m %></h1></td>
          <tr>

          <% @ratings.each do |id, ratings| %>
            <% two = ratings.select{|r| r.data == "2d"}.size %>
            <% three = ratings.select{|r| r.data == "3d"}.size %>

  
            <% if ratings.size == m && two == three %>
              <tr>
                <td>Entity <%= link_to id, entity_path(id), :target => "_blank" %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
