# Directories

.bundle
log/*
tmp/*
db/*.sqlite3

.env

# Development

db/*.sqlite3

node_modules
npm-debug.log
widgets/tmp

public/custom.css

# Testing
spec/.~lock*

# Deployment

deploy.config.sh
.vagrant

.ruby-version
# Mac

.DS_Store
