# Directories

.bundle
log/*
tmp/*
data/*
db/*.sqlite3
public/media
public/custom.css


# Configuration

config/kor.yml
config/kor.test.yml
config/kor.development.yml
config/kor.app.development.yml
config/database.yml
config/legal.txt
config/contact.txt
config/kor.app.*
config/testing.txt
config/kor.app.yml
config/kor.app.test.yml
config/locales/*/help.yml
config/schema_definitions.yml
config/logrotate.conf


# Development

chromedriver.log
deploy/build
deploy/build.boxes
db/*.sqlite3
.yardoc
.sass-cache
coverage

node_modules
npm-debug.log
public/*.html
public/*.css
public/*.js
public/fonts
widgets/tmp

# Testing
screenshot.png

# Deployment

deploy.config.sh
.vagrant
