# Directories

/.bundle
/log/*
/tmp/*
/db/*.sqlite3


# Development

/db/*.sqlite3
/.env
/node_modules
/npm-debug.log
/widgets/tmp
/public/custom.css
/deploy.config.sh
/.vagrant
/.yardoc
/doc

# Testing
/spec/.~lock*

# Deployment
/.ruby-version

# Mac
.DS_Store
