- content_for :small_title, I18n.t('nouns.generator', :count => :other)
- content_for :small_commands, link_to(kor_command_image('plus'), new_kind_generator_path(@kind))
- content_for :small_content, render(:partial => 'generators')

- content_for :normal_title, I18n.t('nouns.config')
