#{I18n.t("mailer.messages.hi", :username => h(@download.user.display_name) )},
\
#{I18n.t("mailer.messages.download_ready", :url => Kor.base_url, :link => @download.link)}
\
#{I18n.t("mailer.messages.best_regards")},
#{Kor.config['maintainer.name']}
\
