- content_for :title, @user_group.name
- content_for :subtitle, Publishment.model_name.human
- content_for :content do
  .gallery
  
    - if @user_group.entities.empty?
      = I18n.t('objects.none_found', :o => Entity.human_name(:count => :other))
    - else
      %table.kor_table
        - @user_group.entities.in_groups_of(4, false).each do |row|
          %tr
            - row.each do |e|
              %td.gallery_item
                = gallery_item e
