<div>
  <div class="header" ng-show="existing">
    {{
      'objects.edit' | 
      translate:{interpolations: {o: 'activerecord.models.relationship'} } |
      capitalize
    }}
  </div>
  <div class="header" ng-hide="existing">
    {{
      'objects.create' | 
      translate:{interpolations: {o: 'activerecord.models.relationship'} } |
      capitalize
    }}
  </div>

  <form ng-submit="save()">
    <div class="kor-errors" ng-if="errors">
      <div ng-show="errors.to_id || errors.from_id">
        {{'activerecord.attributes.relationship.to_id' | translate | capitalize}}
        {{'activerecord.errors.messages.can_not_be_empty'| translate}}
      </div>
      <div ng-show="errors.relation_id">
        {{'activerecord.attributes.relationship.relation_id' | translate | capitalize}}
        {{'activerecord.errors.messages.can_not_be_empty'| translate}}
      </div>
      <div ng-show="errors.datings">
        {{'activerecord.attributes.relationship.dating' | translate | capitalize}}
        {{'activerecord.errors.messages.invalid'| translate}}
      </div>
    </div>

    <div class="kor-field">
      <label ng-bind="'activerecord.attributes.relationship.relation_id' | translate | capitalize"></label>
      <div
        kor-relation-selector="relation_name"
        kor-source="source"
        kor-target="target"
      ></div>
    </div>

    <div class="kor-field">
      <label ng-bind="'activerecord.attributes.relationship.to_id' | translate | capitalize"></label>
      <div
        kor-entity-selector="target"
        kor-existing="{{existing}}"
        kor-grid-width="{{grid_width}}"
        kor-relation-name="relation_name"
      ></div>
    </div>

    <div class="hr"></div>

    <div class="kor-field properties">
      <div class="header">
        <button ng-click="add_property($event)">
          {{'verbs.add' | translate | capitalize}}
        </button>
        <label
          ng-bind="'activerecord.attributes.relationship.property.other' | translate | capitalize"
        ></label>
        <div class="clearfix"></div>
      </div>
      <ul>
        <li ng-repeat="property in properties | withoutDestroyed" class="property">
          <div>
            <input type='text' ng-model="property.value"></input>
          </div>
          <button ng-click="remove_property(property, $event)">
            {{'verbs.remove' | translate}}
          </button>
        </li>
      </ul>
    </div>

    <div class="hr"></div>

    <div class="kor-field datings">
      <div class="header">
        <button ng-click="add_dating($event)">
          {{'verbs.add' | translate | capitalize}}
        </button>
        <label
          ng-bind="'activerecord.attributes.relationship.dating.other' | translate | capitalize"
        ></label>
        <div class="clearfix"></div>
      </div>
      <ul>
        <li ng-repeat="dating in datings | withoutDestroyed" class="dating">
          <label>
            {{'activerecord.attributes.dating.label' | translate | capitalize}}
            <input type='text' ng-model="dating.label"></input>
          </label>
          <label>
            {{'activerecord.attributes.dating.dating_string' | translate | capitalize}}
            <input type='text' ng-model="dating.dating_string"></input>
          </label>
          <button ng-click="remove_dating(dating, $event)">
            {{'verbs.remove' | translate}}
          </button>
        </li>
      </ul>
    </div>

    <div class="hr"></div>

    <input type="submit" value="{{'verbs.save' | translate | capitalize}}">
    <input type="reset" value="{{'cancel' | translate | capitalize}}" ng-click="cancel()">
  </form>
</div>