- content_for :title, @user_group.name
- content_for :subtitle, I18n.t('nouns.shared_user_group', :count => 1)
- content_for :commands do
  = link_to kor_command_image('zip'), download_images_user_group_path(@user_group)

- content_for :content do
  .gallery
    - if @entities.empty?
      = I18n.t('objects.none_found', :o => Entity.model_name.human(:count => :other) )
    - else
      %table.kor_table
        - @entities.in_groups_of(4, false).each do |row|
          %tr
            - row.each do |e|
              %td.gallery_item
                = gallery_item(e)
