- if dataset
  = fields_for "entity[dataset]", dataset, :builder => Stdlib::KorFormBuilder do |d|
    = d.hidden_field :lock_version
    - dataset.kind.form_attributes.each do |config|
      = d.form_field_for_dataset config
