:root {
  --kor-error: #cb1525;
  --kor-notice: #505050;
  --kor-bg: #1e1e1e;
  --kor-bg-transparent: #1e1e1e00;
  --kor-bg-2: #292929;
  --kor-bg-3: #171717;
  --kor-text: #bbbbbb;
  --kor-shine: #ffffff;
  --kor-input-border: 0.1rem solid #565656;
  --kor-input-bg: #252525;
  --kor-input-bg-focus: #333333;
  --kor-button-highlight: #666666;
  --kor-line-gray: #565656;
  --kor-box-shadow: #000000;
  --kor-menu-header: #777777;
  --kor-font: helvetica, arial;
  --kor-font-size: 11px;
  --kor-line-height: 16px;
  --kor-small-font-size: 0.8rem;
  --kor-logo: #ffffff; }

w-messaging, [data-is=w-messaging] {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -20em;
  z-index: 2000; }
  w-messaging .message, [data-is=w-messaging] .message {
    width: 40em;
    padding: 1rem;
    margin-bottom: 1px; }
  w-messaging .error, [data-is=w-messaging] .error {
    background-color: var(--kor-error);
    color: white; }
  w-messaging .notice, [data-is=w-messaging] .notice {
    background-color: var(--kor-notice);
    color: white; }

w-modal, [data-is=w-modal] {
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; }
  w-modal > .receiver, [data-is=w-modal] > .receiver {
    position: fixed;
    z-index: 1001;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    max-height: 80%; }

.kor-content-box {
  padding: 3rem; }

.kor-layout-left {
  float: left;
  border-right: 0.2rem solid var(--kor-bg-3); }

.kor-layout-bottom {
  border-top: 0.2rem solid var(--kor-bg-3); }

.kor-layout-right {
  float: left;
  border-left: 0.2rem solid var(--kor-bg-3);
  margin-left: -0.2rem; }

.kor-layout-large {
  width: 48rem; }

.kor-layout-small {
  width: 24rem; }

.kor-layout-left {
  min-height: 60rem; }

.kor-layout-commands {
  float: right;
  margin-left: 2rem; }

div.hr {
  height: 0.1rem;
  border: none;
  background: url(images/dotted_line.gif) top left;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

div.hr.silent {
  visibility: hidden; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: var(--kor-font);
  font-size: var(--kor-font-size);
  line-height: var(--kor-line-height);
  color: var(--kor-text); }

a {
  color: var(--kor-shine);
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

body {
  margin: 0rem;
  background-color: var(--kor-bg); }

h1 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--kor-shine);
  margin-top: 0rem;
  margin-bottom: 3rem; }

h2 {
  font-size: 1.2rem;
  line-height: 1.6rem; }

h3 {
  font-size: 1rem;
  line-leight: 1.4rem; }

h2:first-child, h3:first-child {
  margin-top: 0rem; }

hr {
  border: none;
  height: 1px;
  background-color: var(--kor-line-gray); }

table {
  width: 100%;
  border-spacing: 0.1rem; }
  table td, table th {
    text-align: left;
    vertical-align: top;
    padding: 0.5rem; }
    table td.tiny, table th.tiny {
      width: 5rem; }
    table td.small, table th.small {
      width: 8rem; }
    table td.right, table th.right {
      text-align: right; }
    table td.nobreak, table th.nobreak {
      white-space: nowrap; }
  table td {
    background-color: var(--kor-bg-2); }
  table td.force-wrap {
    word-break: break-word; }

button {
  border: none;
  cursor: pointer;
  font-family: var(--kor-font);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--kor-shine);
  background-color: var(--kor-input-bg); }

button:hover {
  background-color: var(--kor-button-highlight); }

i {
  margin-left: 5px; }

i:last-child {
  margin-right: 0px; }

.nowrap {
  white-space: nowrap; }

.text-right {
  text-align: right; }

.sortable-ghost {
  background-color: #666666; }

.sortable-fallback {
  visibility: hidden; }

[data-is=w-app] {
  padding: 2rem; }
  [data-is=w-app] .w-content {
    position: relative;
    margin-left: 18rem;
    width: 72rem;
    box-shadow: 0px 0px 25px var(--kor-box-shadow);
    margin-right: 0px;
    margin-bottom: 5rem;
    min-height: 25rem; }
    [data-is=w-app] .w-content kor-help-button {
      display: block;
      position: absolute;
      top: -2px;
      right: -40px; }

[data-is=kor-help] {
  min-width: 40rem; }

kor-welcome .teaser, [data-is=kor-welcome] .teaser {
  margin-top: 3rem; }

kor-entity .name {
  font-weight: bold; }

kor-entity .desc a {
  color: var(--kor-text); }

kor-entity.medium {
  display: inline-block;
  height: 14.5rem;
  font-size: var(--kor-small-font-size);
  position: relative; }
  kor-entity.medium .buttons {
    font-size: 11px;
    text-align: right;
    margin-bottom: 1em; }
  kor-entity.medium a {
    display: inline-block; }
  kor-entity.medium img {
    max-width: 100%;
    max-height: 13rem;
    margin-bottom: 0.5rem; }
  kor-entity.medium .content-type {
    font-weight: bold;
    color: var(--kor-shine); }

kor-entity.kor-style {
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  width: 200px;
  max-height: 200px;
  padding: 0.5rem; }
  kor-entity.kor-style > a {
    display: block;
    text-decoration: none; }
  kor-entity.kor-style h3 {
    margin: 0px;
    color: var(--kor-shine); }
  kor-entity.kor-style img {
    display: block;
    max-width: 100%;
    max-height: 160px; }

kor-gallery-grid td, [data-is=kor-gallery-grid] td {
  width: 25%;
  padding: 1.5rem; }
  kor-gallery-grid td .buttons, [data-is=kor-gallery-grid] td .buttons {
    margin-bottom: 1em; }

kor-gallery-grid kor-entity.medium, [data-is=kor-gallery-grid] kor-entity.medium {
  width: 100%;
  height: 200px; }

kor-gallery-grid .name, [data-is=kor-gallery-grid] .name {
  font-weight: bold; }

kor-gallery-grid .name a:after, kor-gallery-grid .desc a:after, [data-is=kor-gallery-grid] .name a:after, [data-is=kor-gallery-grid] .desc a:after {
  content: ', '; }

kor-gallery-grid .name a:last-child:after, kor-gallery-grid .desc a:last-child:after, [data-is=kor-gallery-grid] .name a:last-child:after, [data-is=kor-gallery-grid] .desc a:last-child:after {
  content: ''; }

kor-login a.password-recovery, [data-is=kor-login] a.password-recovery {
  text-decoration: underline; }

kor-login .kor-blend, [data-is=kor-login] .kor-blend {
  width: 100%;
  height: 40rem;
  background-image: url("images/login_blend.gif"); }

kor-login .kor-local-button, [data-is=kor-login] .kor-local-button {
  display: block;
  margin-bottom: 1rem; }

kor-login-info {
  font-weight: bold; }
  kor-login-info .item {
    margin-bottom: 2rem; }

kor-pagination, [data-is=kor-pagination] {
  white-space: nowrap;
  display: block;
  text-align: right; }
  kor-pagination a, [data-is=kor-pagination] a {
    position: relative;
    top: 0.4rem; }
  kor-pagination input, [data-is=kor-pagination] input {
    width: 5rem !important; }
  kor-pagination img[src='images/vertical_dots.gif'], [data-is=kor-pagination] img[src='images/vertical_dots.gif'] {
    margin-top: -1rem;
    position: relative;
    top: 0.4rem; }
  kor-pagination i, [data-is=kor-pagination] i {
    position: relative;
    top: -4px;
    margin-left: 3px;
    margin-right: 3px; }
  kor-pagination.slim input, [data-is=kor-pagination].slim input {
    width: 3rem !important; }

kor-users kor-pagination, [data-is=kor-users] kor-pagination {
  float: right; }

kor-user-editor .expires-at, [data-is=kor-user-editor] .expires-at {
  margin-bottom: 1rem; }
  kor-user-editor .expires-at kor-input, [data-is=kor-user-editor] .expires-at kor-input {
    margin-bottom: 0.2rem; }
  kor-user-editor .expires-at button, [data-is=kor-user-editor] .expires-at button {
    display: block;
    float: left;
    width: 33.3%;
    margin-bottom: 0.2rem; }

[data-is=kor-clipboard] .mass-subselect {
  float: left; }

[data-is=kor-clipboard] .image {
  max-width: 13.5rem;
  max-height: 13.5rem; }

[data-is=kor-clipboard] td:first-child {
  width: 3rem; }

[data-is=kor-clipboard] td:last-child {
  width: 3rem; }

[data-is=kor-new-media] kor-pagination {
  margin-top: 0.5rem; }

[data-is=kor-new-media] kor-pagination.top {
  margin-bottom: 0.5rem; }

kor-clipboard-subselect-control {
  display: block;
  text-align: center; }
  kor-clipboard-subselect-control input {
    margin: 0px;
    margin-top: -2px; }

kor-inplace-tags, [data-is=kor-inplace-tags] {
  display: inline-block; }

kor-relation, [data-is=kor-relation] {
  display: block;
  margin-bottom: 2rem; }
  kor-relation i, [data-is=kor-relation] i {
    position: relative;
    top: -3px; }
  kor-relation .name, [data-is=kor-relation] .name {
    margin-bottom: 1rem; }
  kor-relation .toggle, [data-is=kor-relation] .toggle {
    position: relative;
    left: 1rem;
    top: 0.3rem; }
  kor-relation kor-pagination, [data-is=kor-relation] kor-pagination {
    float: right; }

kor-media-relation .name, [data-is=kor-media-relation] .name {
  margin-bottom: 1rem; }

kor-media-relation kor-pagination, [data-is=kor-media-relation] kor-pagination {
  margin-top: 1rem; }

kor-relation-selector {
  display: inline-block;
  margin-bottom: 1em; }
  kor-relation-selector em {
    display: inline-block;
    margin-top: 0.5em; }

kor-relationship, [data-is=kor-relationship] {
  display: block;
  margin-bottom: 0.2rem; }
  kor-relationship i, [data-is=kor-relationship] i {
    position: relative;
    top: -3px; }
  kor-relationship .part, [data-is=kor-relationship] .part {
    padding: 1rem;
    background-color: var(--kor-bg-2);
    margin-bottom: 0.1rem; }
  kor-relationship .part:last-child, [data-is=kor-relationship] .part:last-child {
    margin-bottom: 0rem; }
  kor-relationship .media-relations, [data-is=kor-relationship] .media-relations {
    background-color: var(--kor-bg);
    border-collapse: collapse; }
    kor-relationship .media-relations td, [data-is=kor-relationship] .media-relations td {
      width: 33.3%;
      padding: 1rem;
      border: 0.1rem solid var(--kor-bg); }
      kor-relationship .media-relations td img, [data-is=kor-relationship] .media-relations td img {
        max-width: 10rem; }
    kor-relationship .media-relations td:first-child, [data-is=kor-relationship] .media-relations td:first-child {
      border-left: none; }
    kor-relationship .media-relations td:last-child, [data-is=kor-relationship] .media-relations td:last-child {
      border-right: none; }
    kor-relationship .media-relations tr:first-child td, [data-is=kor-relationship] .media-relations tr:first-child td {
      border-top: none; }
    kor-relationship .media-relations tr:last-child td, [data-is=kor-relationship] .media-relations tr:last-child td {
      border-bottom: none; }

kor-relationship-editor, [data-is=kor-relationship-editor] {
  width: 50rem; }
  kor-relationship-editor form kor-input, [data-is=kor-relationship-editor] form kor-input {
    display: inline; }

kor-entity-editor kor-input[name=no_name_statement] label:first-child, [data-is=kor-entity-editor] kor-input[name=no_name_statement] label:first-child {
  margin-bottom: 10px; }

kor-entity-editor kor-input[name=no_name_statement] label.radio, [data-is=kor-entity-editor] kor-input[name=no_name_statement] label.radio {
  display: block;
  margin-top: 5px; }
  kor-entity-editor kor-input[name=no_name_statement] label.radio input, [data-is=kor-entity-editor] kor-input[name=no_name_statement] label.radio input {
    margin-top: -7px; }

kor-entity-editor kor-datings-editor .header label, [data-is=kor-entity-editor] kor-datings-editor .header label {
  font-weight: bold; }

kor-entity-editor kor-datings-editor ul, [data-is=kor-entity-editor] kor-datings-editor ul {
  padding: 1rem; }
  kor-entity-editor kor-datings-editor ul li, [data-is=kor-entity-editor] kor-datings-editor ul li {
    list-style-type: none;
    margin-bottom: 2rem;
    padding-bottom: 1rem; }

kor-entity-editor div.buttons, [data-is=kor-entity-editor] div.buttons {
  display: block;
  width: calc(100% + 2px);
  position: sticky;
  bottom: 0;
  background: linear-gradient(0deg, var(--kor-bg) 80%, var(--kor-bg-transparent)); }

kor-clipboard-control a:hover {
  text-decoration: none; }

kor-medium-page a, [data-is=kor-medium-page] a {
  display: inline-block;
  width: 100%;
  text-align: center; }

kor-medium-page img, [data-is=kor-medium-page] img {
  max-width: 100%; }

kor-medium-page video, [data-is=kor-medium-page] video {
  max-width: 100%; }

kor-kinds td.buttons, [data-is=kor-kinds] td.buttons {
  width: 6rem;
  text-align: right; }

kor-generators, kor-fields {
  display: block; }
  kor-generators ul, kor-fields ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    kor-generators ul i.fa-edit, kor-fields ul i.fa-edit {
      position: relative;
      top: 1px; }

kor-generators {
  margin-top: 1.5em; }

.clearfix {
  clear: both; }

.kor-shine {
  color: var(--kor-shine); }

.kor-error {
  color: var(--kor-error); }

.kor-notice {
  color: var(--kor-notice); }

.kor-text-right {
  text-align: right; }

.kor-glow {
  text-shadow: 0px 0px 5px var(--kor-shine); }

.kor-loading-screen {
  margin: 0px auto;
  text-align: center;
  margin-top: 10%; }

kor-settings-editor h2, [data-is=kor-settings-editor] h2 {
  margin-top: 4rem;
  color: var(--kor-shine); }

kor-collection-selector i {
  margin-left: 0.5rem; }

kor-ask-choices, [data-is=kor-ask-choices] {
  min-width: 40rem; }
  kor-ask-choices kor-input input[type=checkbox], [data-is=kor-ask-choices] kor-input input[type=checkbox] {
    float: left;
    position: relative;
    vertical-align: bottom;
    top: -0.5rem;
    margin-right: 0.8rem; }

kor-search form, [data-is=kor-search] form {
  display: block;
  position: relative; }
  kor-search form div.buttons, [data-is=kor-search] form div.buttons {
    display: block;
    width: calc(100% + 2px);
    position: sticky;
    bottom: 0;
    background: linear-gradient(0deg, var(--kor-bg) 80%, var(--kor-bg-transparent)); }

kor-search div.search-results .controls, [data-is=kor-search] div.search-results .controls {
  display: flex;
  padding: 1rem calc(2rem - 2px);
  justify-content: space-between;
  align-items: end; }
  kor-search div.search-results .controls .sort, [data-is=kor-search] div.search-results .controls .sort {
    margin-top: 1em;
    margin-bottom: 0.3em; }

kor-search div.search-results .header, [data-is=kor-search] div.search-results .header {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--kor-bg-3); }

kor-search div.search-results .footer, [data-is=kor-search] div.search-results .footer {
  margin-top: 1rem;
  border-top: 1px solid var(--kor-bg-3); }

kor-search div.kor-layout-right .kor-content-box, [data-is=kor-search] div.kor-layout-right .kor-content-box {
  padding-bottom: 0rem; }

kor-search kor-nothing-found, [data-is=kor-search] kor-nothing-found {
  padding: 3rem; }

kor-search-result {
  display: block;
  border-bottom: 1px solid var(--kor-bg-3); }
  kor-search-result:last-child {
    border-bottom: none; }
  kor-search-result a.to-entity {
    display: block;
    padding: 0.5rem;
    text-decoration: none; }
  kor-search-result a.to-entity:hover {
    background-color: var(--kor-line-gray); }
  kor-search-result kor-clipboard-control {
    display: block;
    float: left;
    margin-top: 0.1rem;
    margin-left: 1rem; }
  kor-search-result div.labels {
    margin-left: 5rem;
    margin-right: 3rem;
    font-weight: bold; }
  kor-search-result div.kind {
    color: var(--kor-text);
    font-style: italic; }
  kor-search-result div.media {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 3rem;
    background-color: var(--kor-bg-2); }
  kor-search-result kor-entity.medium {
    height: auto;
    float: left;
    padding: 1rem;
    border-right: 1px solid var(--kor-bg); }
    kor-search-result kor-entity.medium a.to-medium {
      display: block; }
      kor-search-result kor-entity.medium a.to-medium img {
        display: block;
        max-width: 84.5px;
        margin: 0px; }
    kor-search-result kor-entity.medium kor-clipboard-control {
      display: block;
      text-align: right;
      float: none; }
    kor-search-result kor-entity.medium:hover {
      box-shadow: 0 0 1px 1px var(--kor-shine); }
  kor-search-result kor-entity:nth-child(4) {
    border: none; }

kor-header, [data-is=kor-header] {
  display: block;
  margin-bottom: 3rem; }
  kor-header .logo, [data-is=kor-header] .logo {
    display: block;
    float: left; }
    kor-header .logo svg, [data-is=kor-header] .logo svg {
      width: 73px;
      height: 49px; }
      kor-header .logo svg path, [data-is=kor-header] .logo svg path {
        fill: var(--kor-logo); }
  kor-header .session, [data-is=kor-header] .session {
    float: right; }
    kor-header .session img, [data-is=kor-header] .session img {
      margin-top: -0.5rem;
      position: relative;
      top: 0.5rem; }

kor-upload ul, [data-is='kor-upload'] ul {
  padding-left: 0px; }
  kor-upload ul li, [data-is='kor-upload'] ul li {
    list-style-type: none;
    margin-bottom: 0.5em; }

kor-relations .label, kor-relations .name, [data-is=kor-relations] .label, [data-is=kor-relations] .name {
  color: var(--kor-shine); }

kor-relations th:first-child, [data-is=kor-relations] th:first-child {
  width: 400px; }

kor-relations .buttons a, [data-is=kor-relations] .buttons a {
  display: inline-block;
  margin-left: 3px; }

kor-relation-merger ul, [data-is=kor-relation-merger] ul {
  margin-top: 12px; }

kor-entity-page .subtitle, [data-is=kor-entity-page] .subtitle {
  font-size: 1rem;
  color: var(--kor-text); }

kor-entity-page .field, [data-is=kor-entity-page] .field {
  font-weight: bold; }

kor-entity-page .value, [data-is=kor-entity-page] .value {
  font-weight: bold;
  color: var(--kor-shine); }

kor-entity-page pre, [data-is=kor-entity-page] pre {
  margin: 0rem;
  font-family: var(--kor-font);
  white-space: pre-wrap; }

kor-entity-page .viewer > a, [data-is=kor-entity-page] .viewer > a {
  display: inline-block; }

kor-entity-page .viewer img, [data-is=kor-entity-page] .viewer img {
  width: 100%; }

kor-entity-page .viewer .commands, [data-is=kor-entity-page] .viewer .commands {
  text-align: center; }

kor-entity-page .kor-api-links i, [data-is=kor-entity-page] .kor-api-links i {
  margin-right: 5px; }

kor-entity-page .groups ul, [data-is=kor-entity-page] .groups ul {
  padding-left: 20px;
  margin: 0; }

kor-notifications ul {
  perspective: 1000px;
  position: absolute;
  top: 0px;
  right: 0px; }
  kor-notifications ul li {
    padding: 1rem;
    list-style-type: none; }

kor-menu {
  width: 18rem;
  float: left;
  padding-right: 3rem; }
  kor-menu ul {
    padding: 0px;
    margin-bottom: 2rem; }
  kor-menu li {
    list-style-type: none; }
  kor-menu a {
    text-decoration: none;
    font-weight: bold;
    color: var(--kor-text); }
  kor-menu .header {
    font-weight: bold;
    color: var(--kor-menu-header);
    margin-bottom: -0.5rem; }

kor-footer {
  width: 792px;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-bottom: 3rem; }
  kor-footer a {
    margin-right: 4rem; }

[data-is=kor-statistics] table {
  margin-bottom: 2rem; }
  [data-is=kor-statistics] table th:last-child, [data-is=kor-statistics] table td:last-child {
    width: 8rem;
    text-align: right; }

kor-mass-action .action {
  display: block;
  text-decoration: underline; }

kor-entity-selector .header {
  font-weight: bold; }

kor-entity-selector table {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  kor-entity-selector table td {
    width: 33.3%; }
  kor-entity-selector table td.selected {
    background-color: var(--kor-bg-3); }

kor-entity-selector .errors {
  color: var(--kor-error); }

kor-entity-selector a.selected {
  text-decoration: underline; }

kor-entity-selector kor-input[ref=terms] {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

kor-entity-selector kor-entity.medium {
  width: 100%; }

kor-properties-editor, kor-datings-editor {
  display: block; }
  kor-properties-editor .header, kor-datings-editor .header {
    font-weight: bold; }
  kor-properties-editor ul, kor-datings-editor ul {
    margin: 1rem;
    padding: 0px; }
    kor-properties-editor ul li, kor-datings-editor ul li {
      list-style-type: none;
      margin-top: 1rem; }
      kor-properties-editor ul li button, kor-datings-editor ul li button {
        margin-top: 0.5rem; }
    kor-properties-editor ul li:first-child, kor-datings-editor ul li:first-child {
      margin-top: 0px; }

[data-is=kor-entity-merger] {
  width: 600px; }
  [data-is=kor-entity-merger] kor-input[name=medium_id] label.radio {
    margin: 2rem; }
    [data-is=kor-entity-merger] kor-input[name=medium_id] label.radio img {
      vertical-align: middle;
      margin-left: 0.5rem; }

[data-is=kor-to-entity-group] {
  width: 350px; }

[data-is=kor-admin-group-categories] p.ancestry {
  margin-top: -2rem; }

[data-is=kor-mass-relate] {
  width: 450px; }

kor-input i.fa.fa-question-circle {
  max-height: 8px; }

kor-input .help {
  border: 1px solid var(--kor-input-border);
  padding: 0.5rem;
  margin-top: -1px; }
  kor-input .help code {
    display: block;
    color: var(--kor-shine);
    margin-bottom: 1rem; }

kor-input[type=checkbox] .help {
  border: none; }

kor-input[type=textarea] .help {
  margin-top: -5px; }

[data-is=kor-recent-entities] kor-input[name='created_after'] {
  display: inline-block;
  width: 50%; }

[data-is=kor-recent-entities] kor-input[name='created_before'] {
  display: inline-block;
  width: 50%;
  margin-left: -4px; }

[data-is=kor-recent-entities] kor-input[name='updated_after'] {
  display: inline-block;
  width: 50%; }

[data-is=kor-recent-entities] kor-input[name='updated_before'] {
  display: inline-block;
  width: 50%;
  margin-left: -4px; }

[data-is=kor-recent-entities] td {
  line-height: normal; }

[data-is=kor-recent-entities] td:first-child {
  width: 160px; }

kor-user-selector .autocomplete {
  font-weight: normal; }
  kor-user-selector .autocomplete .autocomplete-item {
    font-size: 1rem; }

kor-input label {
  font-weight: bold; }

kor-input input, kor-input select, kor-input textarea {
  border: var(--kor-input-border);
  background-color: var(--kor-input-bg);
  font-family: var(--kor-font);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--kor-shine);
  outline: none;
  height: 2rem; }

kor-input input {
  padding-left: 0.4rem; }

kor-input textarea {
  min-height: 15rem;
  resize: vertical; }

kor-input input:focus, kor-input textarea:focus {
  background-color: var(--kor-input-bg-focus); }

kor-input input[type=submit], kor-input input[type=reset] {
  border: none;
  cursor: pointer;
  width: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem; }
  kor-input input[type=submit]:hover, kor-input input[type=reset]:hover {
    background-color: var(--kor-button-highlight); }

kor-input .errors {
  color: var(--kor-error); }

kor-input.has-errors input, kor-input.has-errors select, kor-input.has-errors textarea {
  border-color: var(--kor-error); }

kor-input[type=radio] {
  display: inline-block; }
  kor-input[type=radio] label {
    display: block; }
  kor-input[type=radio] label.radio {
    display: inline-block;
    padding-right: 2em;
    position: relative;
    top: -0.3em; }
  kor-input[type=radio] input {
    display: inline;
    width: initial;
    position: relative;
    top: 0.7em; }

form {
  display: block;
  margin-bottom: 1rem; }
  form kor-input {
    display: block;
    margin-bottom: 1rem; }
    form kor-input input, form kor-input select, form kor-input textarea {
      width: 100%; }
    form kor-input input[type=checkbox] {
      display: block;
      width: 13px;
      height: 13px;
      vertical-align: bottom;
      margin: 0;
      margin-left: 5px; }
    form kor-input select[multiple] {
      height: 15rem; }
  form kor-input[type=submit], form kor-input[type=reset] {
    display: inline-block; }

form.inline {
  display: inline-block;
  margin-bottom: 0rem; }
  form.inline kor-input {
    display: inline;
    margin-right: 15px; }
    form.inline kor-input input, form.inline kor-input select, form.inline kor-input textarea {
      width: auto; }
    form.inline kor-input input[type=checkbox] {
      display: inline;
      position: relative;
      top: -4px; }

.kor w-modal .receiver, .kor [data-is=w-modal] .receiver {
  background-color: var(--kor-bg);
  max-height: 80%;
  overflow-y: auto; }
