w-messaging, [data-is=w-messaging] {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -20em;
  z-index: 2000; }
  w-messaging .message, [data-is=w-messaging] .message {
    width: 40em;
    padding: 1rem;
    margin-bottom: 1px; }
  w-messaging .error, [data-is=w-messaging] .error {
    background-color: #cb1525;
    color: white; }
  w-messaging .notice, [data-is=w-messaging] .notice {
    background-color: #505050;
    color: white; }

w-modal, [data-is=w-modal] {
  position: fixed;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; }
  w-modal > .receiver, [data-is=w-modal] > .receiver {
    position: fixed;
    z-index: 1001;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    max-height: 80%; }

.kor-content-box {
  padding: 3rem; }

.kor-layout-left {
  float: left;
  border-right: 0.2rem solid #181818; }

.kor-layout-bottom {
  border-top: 0.2rem solid #181818; }

.kor-layout-right {
  float: left;
  border-left: 0.2rem solid #181818;
  margin-left: -0.2rem; }

.kor-layout-large {
  width: 48rem; }

.kor-layout-right.kor-layout-large {
  width: 48.2rem; }

.kor-layout-small {
  width: 24rem; }

.kor-layout-left {
  min-height: 55rem; }

.kor-layout-commands {
  float: right;
  margin-left: 2rem; }

hr {
  height: 0.1rem;
  border: none;
  background: url(images/dotted_line.gif) top left;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

hr.silent {
  background: none;
  margin-top: 1rem;
  margin-bottom: 1rem; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: helvetica, arial;
  font-size: 11px;
  line-height: 15px;
  color: #bbbbbb; }

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

body {
  margin: 0rem;
  background-color: #1e1e1e; }

h1 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #ffffff;
  margin-top: 0rem;
  margin-bottom: 3rem; }

h2 {
  font-size: 1.2rem;
  line-height: 1.6rem; }

h3 {
  font-size: 1rem;
  line-leight: 1.4rem; }

h2:first-child, h3:first-child {
  margin-top: 0rem; }

hr {
  border: none;
  height: 1px;
  background-color: #505050; }

table {
  width: 100%;
  border-spacing: 0.1rem; }
  table td, table th {
    text-align: left;
    vertical-align: top;
    padding: 0.5rem; }
    table td.tiny, table th.tiny {
      width: 5rem; }
    table td.small, table th.small {
      width: 8rem; }
    table td.right, table th.right {
      text-align: right; }
    table td.nobreak, table th.nobreak {
      white-space: nowrap; }
  table td {
    background-color: #292929; }
  table td.force-wrap {
    word-break: break-word; }

button {
  border: none;
  cursor: pointer;
  font-family: helvetica, arial;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  background-color: #252525; }

button:hover {
  background-color: #666666; }

[data-is=w-app] {
  padding: 2rem; }
  [data-is=w-app] .w-content {
    position: relative;
    margin-left: 18rem;
    width: 72rem;
    box-shadow: 0px 0px 25px #000000;
    margin-right: 0px;
    margin-bottom: 5rem; }
    [data-is=w-app] .w-content kor-help-button {
      display: block;
      position: absolute;
      top: -4px;
      right: -40px; }

[data-is=kor-help] {
  min-width: 40rem; }

kor-welcome .teaser, [data-is=kor-welcome] .teaser {
  margin-top: 3rem; }

kor-entity .name {
  font-weight: bold; }

kor-entity .desc a {
  color: #bbbbbb; }

kor-entity.medium {
  display: inline-block;
  height: 14.5rem;
  font-size: 0.8rem;
  position: relative; }
  kor-entity.medium kor-clipboard-control {
    display: block;
    text-align: right; }
  kor-entity.medium a {
    display: inline-block; }
  kor-entity.medium img {
    max-width: 100%;
    max-height: 13rem;
    margin-bottom: 0.5rem; }
  kor-entity.medium .content-type {
    font-weight: bold;
    color: #ffffff; }

kor-entity.kor-style {
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  width: 200px;
  max-height: 200px;
  padding: 0.5rem; }
  kor-entity.kor-style > a {
    display: block;
    text-decoration: none; }
  kor-entity.kor-style h3 {
    margin: 0px;
    color: white; }
  kor-entity.kor-style img {
    display: block;
    max-width: 100%;
    max-height: 160px; }

kor-gallery-grid td, [data-is=kor-gallery-grid] td {
  width: 25%;
  padding: 1.5rem; }

kor-gallery-grid kor-entity.medium, [data-is=kor-gallery-grid] kor-entity.medium {
  width: 100%;
  height: 200px; }

kor-gallery-grid .name, [data-is=kor-gallery-grid] .name {
  font-weight: bold; }

kor-login a.password-recovery, [data-is=kor-login] a.password-recovery {
  text-decoration: underline; }

kor-login .kor-blend, [data-is=kor-login] .kor-blend {
  width: 100%;
  height: 40rem;
  background-image: url("images/login_blend.gif"); }

kor-login-info {
  font-weight: bold; }
  kor-login-info .item {
    margin-bottom: 2rem; }

kor-pagination, [data-is=kor-pagination] {
  display: block;
  text-align: right;
  margin-top: -0.5rem;
  margin-bottom: -3px; }
  kor-pagination a, [data-is=kor-pagination] a {
    position: relative;
    top: 0.4rem; }
  kor-pagination input, [data-is=kor-pagination] input {
    width: 5rem; }
  kor-pagination img[src='images/vertical_dots.gif'], [data-is=kor-pagination] img[src='images/vertical_dots.gif'] {
    margin-top: -1rem;
    position: relative;
    top: 0.4rem; }

kor-users kor-pagination, [data-is=kor-users] kor-pagination {
  float: right; }

kor-user-editor .expires-at, [data-is=kor-user-editor] .expires-at {
  margin-bottom: 1rem; }
  kor-user-editor .expires-at kor-input, [data-is=kor-user-editor] .expires-at kor-input {
    margin-bottom: 0.2rem; }
  kor-user-editor .expires-at button, [data-is=kor-user-editor] .expires-at button {
    display: block;
    float: left;
    width: 33.3%;
    margin-bottom: 0.2rem; }

[data-is=kor-clipboard] .mass-subselect {
  float: left; }

[data-is=kor-clipboard] .image {
  max-width: 13.5rem;
  max-height: 13.5rem; }

[data-is=kor-clipboard] td:first-child {
  width: 3rem; }

[data-is=kor-clipboard] td:last-child {
  width: 3rem; }

kor-clipboard-subselect-control {
  display: block;
  text-align: center; }
  kor-clipboard-subselect-control input {
    margin: 0px;
    margin-top: -2px; }

kor-inplace-tags, [data-is=kor-inplace-tags] {
  display: inline-block; }

kor-relation, [data-is=kor-relation] {
  display: block;
  margin-bottom: 2rem; }
  kor-relation .name, [data-is=kor-relation] .name {
    margin-bottom: 1rem; }
  kor-relation .toggle, [data-is=kor-relation] .toggle {
    position: relative;
    left: 1rem;
    top: 0.3rem; }
  kor-relation kor-pagination, [data-is=kor-relation] kor-pagination {
    float: right; }

kor-media-relation .name, [data-is=kor-media-relation] .name {
  margin-bottom: 1rem; }

kor-media-relation kor-pagination, [data-is=kor-media-relation] kor-pagination {
  margin-top: 1rem; }

kor-relation-selector {
  display: inline-block;
  margin-bottom: 1em; }
  kor-relation-selector em {
    display: inline-block;
    margin-top: 0.5em; }

kor-relationship, [data-is=kor-relationship] {
  display: block;
  margin-bottom: 0.2rem; }
  kor-relationship .part, [data-is=kor-relationship] .part {
    padding: 1rem;
    background-color: #292929;
    margin-bottom: 0.1rem; }
  kor-relationship .part:last-child, [data-is=kor-relationship] .part:last-child {
    margin-bottom: 0rem; }
  kor-relationship .media-relations, [data-is=kor-relationship] .media-relations {
    background-color: #1e1e1e;
    border-collapse: collapse; }
    kor-relationship .media-relations td, [data-is=kor-relationship] .media-relations td {
      width: 33.3%;
      padding: 1rem;
      border: 0.1rem solid #1e1e1e; }
      kor-relationship .media-relations td img, [data-is=kor-relationship] .media-relations td img {
        max-width: 10rem; }
    kor-relationship .media-relations td:first-child, [data-is=kor-relationship] .media-relations td:first-child {
      border-left: none; }
    kor-relationship .media-relations td:last-child, [data-is=kor-relationship] .media-relations td:last-child {
      border-right: none; }
    kor-relationship .media-relations tr:first-child td, [data-is=kor-relationship] .media-relations tr:first-child td {
      border-top: none; }
    kor-relationship .media-relations tr:last-child td, [data-is=kor-relationship] .media-relations tr:last-child td {
      border-bottom: none; }

kor-relationship-editor, [data-is=kor-relationship-editor] {
  width: 50rem; }
  kor-relationship-editor form kor-input, [data-is=kor-relationship-editor] form kor-input {
    display: inline; }

kor-entity-editor kor-input[name=no_name_statement], [data-is=kor-entity-editor] kor-input[name=no_name_statement] {
  margin-top: -1em; }

kor-entity-editor kor-datings-editor .header label, [data-is=kor-entity-editor] kor-datings-editor .header label {
  font-weight: bold; }

kor-entity-editor kor-datings-editor ul, [data-is=kor-entity-editor] kor-datings-editor ul {
  padding: 1rem; }
  kor-entity-editor kor-datings-editor ul li, [data-is=kor-entity-editor] kor-datings-editor ul li {
    list-style-type: none;
    margin-bottom: 2rem;
    padding-bottom: 1rem; }

kor-clipboard-control a:hover {
  text-decoration: none; }

kor-medium-page a, [data-is=kor-medium-page] a {
  display: inline-block;
  width: 100%;
  text-align: center; }

kor-medium-page img, [data-is=kor-medium-page] img {
  max-width: 100%; }

kor-kinds td.buttons, [data-is=kor-kinds] td.buttons {
  width: 6rem;
  text-align: right; }

kor-generators, kor-fields {
  display: block; }
  kor-generators ul, kor-fields ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    kor-generators ul i.fa-edit, kor-fields ul i.fa-edit {
      position: relative;
      top: 1px; }

kor-generators {
  margin-top: 1.5em; }

.clearfix {
  clear: both; }

.kor-shine {
  color: #ffffff; }

.kor-error {
  color: #cb1525; }

.kor-notice {
  color: #505050; }

.kor-text-right {
  text-align: right; }

.kor-loading-screen {
  margin: 0px auto;
  text-align: center;
  margin-top: 10%; }

kor-settings-editor h2, [data-is=kor-settings-editor] h2 {
  margin-top: 4rem;
  color: white; }

kor-collection-selector i {
  margin-left: 0.5rem; }

kor-ask-choices, [data-is=kor-ask-choices] {
  min-width: 40rem; }
  kor-ask-choices kor-input input[type=checkbox], [data-is=kor-ask-choices] kor-input input[type=checkbox] {
    float: left;
    position: relative;
    vertical-align: bottom;
    top: -0.5rem;
    margin-right: 0.8rem; }

kor-search div.kor-layout-right .kor-content-box, [data-is=kor-search] div.kor-layout-right .kor-content-box {
  padding-bottom: 0rem; }

kor-search kor-pagination, [data-is=kor-search] kor-pagination {
  border-bottom: 1px solid #181818;
  padding-bottom: 1rem;
  padding-right: 1rem; }

kor-search kor-nothing-found, [data-is=kor-search] kor-nothing-found {
  padding: 3rem; }

kor-search-result {
  display: block;
  border-bottom: 1px solid #181818; }
  kor-search-result a.to-entity {
    display: block;
    padding: 0.5rem;
    text-decoration: none; }
  kor-search-result a.to-entity:hover {
    background-color: #505050; }
  kor-search-result kor-clipboard-control {
    display: block;
    float: left; }
  kor-search-result div.labels {
    margin-left: 5rem;
    margin-right: 3rem;
    font-weight: bold; }
  kor-search-result div.kind {
    color: #bbbbbb;
    font-style: italic; }
  kor-search-result div.media {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 3rem;
    background-color: #292929; }
  kor-search-result kor-entity.medium {
    height: auto;
    float: left;
    padding: 1rem;
    border-right: 1px solid #1e1e1e; }
    kor-search-result kor-entity.medium a.to-medium {
      display: block; }
      kor-search-result kor-entity.medium a.to-medium img {
        display: block;
        max-width: 84.5px;
        margin: 0px; }
    kor-search-result kor-entity.medium kor-clipboard-control {
      display: block;
      text-align: right;
      float: none; }
  kor-search-result kor-entity:nth-child(4) {
    border: none; }

kor-header, [data-is=kor-header] {
  display: block;
  margin-bottom: 3rem; }
  kor-header .logo, [data-is=kor-header] .logo {
    display: block;
    float: left; }
  kor-header .session, [data-is=kor-header] .session {
    float: right; }
    kor-header .session img, [data-is=kor-header] .session img {
      margin-top: -0.5rem;
      position: relative;
      top: 0.5rem; }

kor-upload ul, [data-is='kor-upload'] ul {
  padding-left: 0px; }
  kor-upload ul li, [data-is='kor-upload'] ul li {
    list-style-type: none;
    margin-bottom: 0.5em; }

kor-upload .text-right, [data-is='kor-upload'] .text-right {
  text-align: right; }

kor-relations .label, kor-relations .name, [data-is=kor-relations] .label, [data-is=kor-relations] .name {
  color: #ffffff; }

kor-relations th:first-child, [data-is=kor-relations] th:first-child {
  width: 400px; }

kor-relations .buttons a, [data-is=kor-relations] .buttons a {
  display: inline-block;
  margin-left: 3px; }

kor-relation-merger ul, [data-is=kor-relation-merger] ul {
  margin-top: 12px; }

kor-entity-page .subtitle, [data-is=kor-entity-page] .subtitle {
  font-size: 1rem;
  color: #bbbbbb; }

kor-entity-page .field, [data-is=kor-entity-page] .field {
  font-weight: bold; }

kor-entity-page span.value, [data-is=kor-entity-page] span.value {
  font-weight: bold;
  color: #ffffff; }

kor-entity-page pre, [data-is=kor-entity-page] pre {
  margin: 0rem;
  font-family: helvetica, arial;
  white-space: pre-wrap; }

kor-entity-page .viewer > a, [data-is=kor-entity-page] .viewer > a {
  display: inline-block; }

kor-entity-page .viewer img, [data-is=kor-entity-page] .viewer img {
  width: 100%; }

kor-entity-page .viewer .commands, [data-is=kor-entity-page] .viewer .commands {
  text-align: center; }

kor-notifications ul {
  perspective: 1000px;
  position: absolute;
  top: 0px;
  right: 0px; }
  kor-notifications ul li {
    padding: 1rem;
    list-style-type: none; }

kor-menu {
  width: 18rem;
  float: left;
  padding-right: 3rem; }
  kor-menu ul {
    padding: 0px;
    margin-bottom: 2rem; }
  kor-menu li {
    list-style-type: none; }
  kor-menu a {
    text-decoration: none;
    font-weight: bold;
    color: #bbbbbb; }
  kor-menu .header {
    font-weight: bold;
    color: #777777;
    margin-bottom: -0.5rem; }

[data-is=kor-statistics] table {
  margin-bottom: 2rem; }
  [data-is=kor-statistics] table th:last-child, [data-is=kor-statistics] table td:last-child {
    width: 8rem;
    text-align: right; }

kor-mass-action .action {
  display: block;
  text-decoration: underline; }

kor-entity-selector .header {
  font-weight: bold; }

kor-entity-selector table {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  kor-entity-selector table td {
    width: 33.3%; }
  kor-entity-selector table td.selected {
    background-color: #333333; }

kor-entity-selector .errors {
  color: #cb1525; }

kor-entity-selector a.selected {
  text-decoration: underline; }

kor-entity-selector kor-input[ref=terms] {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

kor-properties-editor, kor-datings-editor {
  display: block; }
  kor-properties-editor .header, kor-datings-editor .header {
    font-weight: bold; }
  kor-properties-editor ul, kor-datings-editor ul {
    margin: 1rem;
    padding: 0px; }
    kor-properties-editor ul li, kor-datings-editor ul li {
      list-style-type: none;
      margin-top: 1rem; }
      kor-properties-editor ul li button, kor-datings-editor ul li button {
        margin-top: 0.5rem; }
    kor-properties-editor ul li:first-child, kor-datings-editor ul li:first-child {
      margin-top: 0px; }

[data-is=kor-entity-merger] {
  width: 600px; }
  [data-is=kor-entity-merger] kor-input[name=medium_id] label.radio {
    margin: 2rem; }
    [data-is=kor-entity-merger] kor-input[name=medium_id] label.radio img {
      vertical-align: middle;
      margin-left: 0.5rem; }

[data-is=kor-to-entity-group] {
  width: 350px; }

[data-is=kor-admin-group-categories] p.ancestry {
  margin-top: -2rem; }

[data-is=kor-mass-relate] {
  width: 450px; }

kor-input .help {
  border: 1px solid #565656;
  padding: 0.5rem;
  margin-top: -1px;
  margin-bottom: 2rem; }
  kor-input .help code {
    display: block;
    color: white;
    margin-bottom: 1rem; }

kor-input label {
  font-weight: bold; }

kor-input input, kor-input select, kor-input textarea {
  border: 0.1rem solid #565656;
  background-color: #252525;
  font-family: helvetica, arial;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  padding-left: 0.4rem;
  outline: none;
  min-height: 2rem; }

kor-input textarea {
  min-height: 15rem;
  resize: vertical; }

kor-input input:focus, kor-input textarea:focus {
  background-color: #333333; }

kor-input input[type=submit], kor-input input[type=reset] {
  border: none;
  cursor: pointer;
  width: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem; }
  kor-input input[type=submit]:hover, kor-input input[type=reset]:hover {
    background-color: #666666; }

kor-input .errors {
  color: #cb1525; }

kor-input.has-errors input, kor-input.has-errors select, kor-input.has-errors textarea {
  border-color: #cb1525; }

kor-input[type=radio] {
  display: inline-block; }
  kor-input[type=radio] label {
    display: block; }
  kor-input[type=radio] label.radio {
    display: inline-block;
    padding-right: 2em;
    position: relative;
    top: -0.3em; }
  kor-input[type=radio] input {
    display: inline;
    width: initial;
    position: relative;
    top: 0.7em; }

form {
  display: block;
  margin-bottom: 1rem; }
  form kor-input {
    display: block;
    margin-bottom: 1rem; }
    form kor-input input, form kor-input select, form kor-input textarea {
      width: 100%; }
    form kor-input input[type=checkbox] {
      display: block;
      width: 13px;
      height: 13px;
      vertical-align: bottom;
      margin: 0;
      margin-left: 5px; }
    form kor-input select[multiple] {
      height: 15rem; }
  form kor-input[type=submit], form kor-input[type=reset] {
    display: inline-block; }

form.inline {
  display: inline-block;
  margin-bottom: 0rem; }
  form.inline kor-input {
    display: inline;
    margin-right: 15px; }
    form.inline kor-input input, form.inline kor-input select, form.inline kor-input textarea {
      width: auto; }
    form.inline kor-input input[type=checkbox] {
      display: inline; }

i {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }
  i.pager_left {
    background-image: url("/images/pager_left.gif"); }
  i.pager_left:hover {
    background-image: url("/images/pager_left_over.gif"); }
  i.pager_right {
    background-image: url("/images/pager_right.gif"); }
  i.pager_right:hover {
    background-image: url("/images/pager_right_over.gif"); }
  i.three_bars {
    background-image: url("/images/three_bars.gif"); }
  i.three_bars:hover {
    background-image: url("/images/three_bars_over.gif"); }
  i.pen {
    background-image: url("/images/pen.gif"); }
  i.pen:hover {
    background-image: url("/images/pen_over.gif"); }
  i.x {
    background-image: url("/images/x.gif"); }
  i.x:hover {
    background-image: url("/images/x_over.gif"); }
  i.reset_password {
    background-image: url("/images/reset_password.gif"); }
  i.reset_password:hover {
    background-image: url("/images/reset_password_over.gif"); }
  i.plus {
    background-image: url("/images/plus.gif"); }
  i.plus:hover {
    background-image: url("/images/plus_over.gif"); }
  i.target {
    background-image: url("/images/target.gif"); }
  i.target:hover {
    background-image: url("/images/target_over.gif"); }
  i.target_hit {
    background-image: url("/images/target_hit.gif"); }
  i.target_hit:hover {
    background-image: url("/images/target_hit_over.gif"); }
  i.minus {
    background-image: url("/images/minus.gif"); }
  i.minus:hover {
    background-image: url("/images/minus_over.gif"); }
  i.flip {
    background-image: url("/images/flip.gif"); }
  i.flip:hover {
    background-image: url("/images/flip_over.gif"); }
  i.flop {
    background-image: url("/images/flop.gif"); }
  i.flop:hover {
    background-image: url("/images/flop_over.gif"); }
  i.rotate_cw {
    background-image: url("/images/rotate_cw.gif"); }
  i.rotate_cw:hover {
    background-image: url("/images/rotate_cw_over.gif"); }
  i.rotate_ccw {
    background-image: url("/images/rotate_ccw.gif"); }
  i.rotate_ccw:hover {
    background-image: url("/images/rotate_ccw_over.gif"); }
  i.rotate_180 {
    background-image: url("/images/rotate_180.gif"); }
  i.rotate_180:hover {
    background-image: url("/images/rotate_180_over.gif"); }
  i.select {
    background-image: url("/images/select.gif"); }
  i.select:hover {
    background-image: url("/images/select_over.gif"); }
  i.select_hit {
    background-image: url("/images/select_hit.gif"); }
  i.select_hit:hover {
    background-image: url("/images/select_hit_over.gif"); }
  i.private {
    background-image: url("/images/private.gif"); }
  i.private:hover {
    background-image: url("/images/private_over.gif"); }
  i.public {
    background-image: url("/images/public.gif"); }
  i.public:hover {
    background-image: url("/images/public_over.gif"); }
  i.stop_watch {
    background-image: url("/images/stop_watch.gif"); }
  i.stop_watch:hover {
    background-image: url("/images/stop_watch_over.gif"); }
  i.zip {
    background-image: url("/images/zip.gif"); }
  i.zip:hover {
    background-image: url("/images/zip_over.gif"); }
  i.help {
    background-image: url("/images/help.gif"); }
  i.help:hover {
    background-image: url("/images/help_over.gif"); }
  i.triangle_up {
    background-image: url("/images/triangle_up.gif"); }
  i.triangle_down {
    background-image: url("/images/triangle_down.gif"); }
  i.help {
    background-size: 70%;
    width: 2.5rem;
    height: 2.5rem; }

.kor w-modal .receiver, .kor [data-is=w-modal] .receiver {
  background-color: #1e1e1e;
  max-height: 80%;
  overflow-y: auto; }
