$kor-error: #cb1525;
$kor-notice: #505050;
$kor-bg: #1e1e1e;
$kor-bg-2: #292929;
$kor-bg-3: #181818;
$kor-text: #bbbbbb;
$kor-shine: #ffffff;
$kor-input-border: #565656;
$kor-input-bg: #252525;
$kor-input-bg-focus: #333333;
$kor-button-highlight: #666666;

$kor-font: helvetica, arial;
$kor-font-size: 11px;
$kor-line-height: 15px;
$kor-small-font-size: 0.8rem;
