*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: helvetica, arial;
  font-size: 11px;
  line-height: 15px;
  color: $kor-text;
  
  a {
    color: $kor-shine;
  }
}

body {
  margin: 0rem;
  background-color: $kor-bg;
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: $kor-shine;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

h3 {
  font-size: 1rem;
  line-leight: 1.4rem;
}

h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0rem;
}


w-app, [data-is=w-app] {
  padding: 2rem;

  kor-menu, [data-is=kor-menu] {
    
  }

  .w-content {
    margin-left: 18rem;
    min-width: 65rem;
    box-shadow: 0px 0px 25px #000000;
  }
}

kor-menu, [data-is=kor-menu] {
  width: 18rem;
  float: left;

  ul {
    padding: 0px;
    margin-bottom: 2rem;
  }

  ul.submenu {
    padding-left: 1rem;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $kor-text;
  }

}

.clearfix {
  clear: both;
}

.kor-shine {
  color: $kor-shine;
}
