html {
  font-family: helvetica, arial;
  font-size: 11px;
  line-height: 15px;
  color: $kor-text;
  
  a {
    color: $kor-shine;
  }
}

body {
  margin: 0rem;
  background-color: $kor-bg;
}


w-app, [data-is=w-app] {
  padding: 2rem;

  kor-menu, [data-is=kor-menu] {
    
  }

  .w-content {
    margin-left: 18rem;
    min-width: 60rem;
    box-shadow: 0px 0px 25px #000000;
  }
}

kor-menu, [data-is=kor-menu] {
  width: 18rem;
  float: left;

  ul {
    padding: 0px;
    margin-bottom: 2rem;
  }

  ul.submenu {
    padding-left: 1rem;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $kor-text;
  }

}

.clearfix {
  clear: both;
}

// @keyframes kor-appear {
//   from {
//     opacity: 0;
//     /*transform: rotateY(180deg);*/
//     transform: translateX(100%);
//   };
//   to {
//     opacity: 100;
//     transform: translateX(0%);
//   };
// }

// @keyframes kor-fade {
//   from {opacity: 100;}
//   to {
//     opacity: 0;
//     transform: rotateY(90deg);
//   }
// }

// #page-container {
//   perspective: 1000px;
// }

// .kor-appear-animation {
//   transform-style: preserve-3d;
//   display: block;
//   animation-name: kor-appear;
//   animation-duration: 500ms;
// }

// .kor-fade-animation {
//   transform-style: preserve-3d;
//   display: block;
//   animation-name: kor-fade;
//   animation-duration: 500ms;
// }