kor-input, [data-is=kor-input] {
  label {
    font-weight: bold;
  }

  input, select, textarea {
    border: 0.1rem solid $kor-input-border;
    background-color: $kor-input-bg;
    font-family: helvetica, arial;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $kor-shine;
    padding-left: 0.4rem;
    outline: none;
    min-height: 2rem;
  }

  textarea {
    min-height: 5rem;
  }

  input:focus, textarea:focus {
    background-color: $kor-input-bg-focus;
  }

  input[type=submit], input[type=reset] {
    border: none;
    cursor: pointer;
    width: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    &:hover {
      background-color: $kor-button-highlight;
    }
  }

  .errors {
    color: $kor-error;
  }

  &.has-errors {
    input, select, textarea {
      border-color: $kor-error;
    }
  }
}

form {
  display: block;
  margin-bottom: 1rem;
  
  kor-input, [data-is=kor-input] {
    display: block;
    margin-bottom: 1rem;

    input, select, textarea {
      width: 100%;
    }

    input[type=checkbox] {
      display: block;
      width: auto;
    }

    select[multiple] {
      height: 15rem;
    }
  }
}

form.inline {
  display: inline;
  margin-bottom: 0rem;

  kor-input, [data-is=kor-input] {
    display: inline;

    input, select, textarea {
      width: auto;
    }
  }
}