kor-input {
  label {
    font-weight: bold;
  }

  input, select, textarea {
    border: var(--kor-input-border);
    background-color: var(--kor-input-bg);
    font-family: var(--kor-font);
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--kor-shine);
    outline: none;
    height: 2rem;
  }

  input {
    padding-left: 0.4rem;
  }

  textarea {
    min-height: 15rem;
    resize: vertical;
  }

  input:focus, textarea:focus {
    background-color: var(--kor-input-bg-focus);
  }

  input[type=submit], input[type=reset] {
    border: none;
    cursor: pointer;
    width: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    &:hover {
      background-color: var(--kor-button-highlight);
    }
  }

  .errors {
    color: var(--kor-error);
  }

  &.has-errors {
    input, select, textarea {
      border-color: var(--kor-error);
    }
  }
}

kor-input[type=radio] {
  display: inline-block;

  label {
    display: block;
  }

  label.radio {
    display: inline-block;
    padding-right: 2em;
    position: relative;
    top: -0.3em;
  }

  input {
    display: inline;
    width: initial;
    position: relative;
    top: 0.7em;
  }
}

form {
  display: block;
  margin-bottom: 1rem;
  
  kor-input {
    display: block;
    margin-bottom: 1rem;

    input, select, textarea {
      width: 100%;
    }

    input[type=checkbox] {
      display: block;
      // width: auto;
      width: 13px;
      height: 13px;
      vertical-align: bottom;
      margin: 0;
      margin-left: 5px;
    }

    select[multiple] {
      height: 15rem;
    }
  }

  kor-input[type=submit], kor-input[type=reset] {
    display: inline-block;
  }
}

form.inline {
  display: inline-block;
  margin-bottom: 0rem;

  kor-input {
    display: inline;
    margin-right: 15px;

    input, select, textarea {
      width: auto;
    }

    input[type=checkbox] {
      display: inline;
      position: relative;
      top: -4px;
    }
  }
}