kor-kind-tree, [data-is=kor-kind-tree] {
  display: block;
  padding: 1rem;

  td {
    .icon {
      float: right;
      margin-left: 0.5rem;
    }
  }

  td.parent {
    background-color: lighten(#1e1e1e, 10%) !important;
  }

  td.self {
    background-color: lighten(#1e1e1e, 20%) !important;
  }

  td.active {
    .name {
      color: $kor-shine;
    }
  }
}