.kor-content-box {
  padding: 3rem;
}

.kor-layout-left {
  border-right: 2px solid $kor-bg-3;
}

.kor-layout-large {
  width: 45rem;
}

.kor-layout-small {
  width: 24rem;
}

.kor-layout-left:first-child {
  min-height: 40rem;
}

div.hr {
  height: 0.1rem;
  border: none;
  background: url(images/dotted_line.gif) top left;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

div.hr.silent {
  background: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
