.kor-content-box {
  padding: 3rem;
}

.kor-layout-left {
  float: left;
  border-right: 0.2rem solid var(--kor-bg-3);
}

.kor-layout-bottom {
  border-top: 0.2rem solid var(--kor-bg-3);
}

.kor-layout-right {
  float: left;
  border-left: 0.2rem solid var(--kor-bg-3);
  margin-left: -0.2rem;
}

.kor-layout-large {
  width: 48rem;
}

.kor-layout-right.kor-layout-large {
  width: 48rem;
}

.kor-layout-small {
  width: 24rem;
}

.kor-layout-left {
  min-height: 55rem;
}

.kor-layout-commands {
  float: right;
  margin-left: 2rem;
}

hr {
  height: 0.1rem;
  border: none;
  background: url(images/dotted_line.gif) top left;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

hr.silent {
  background: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
