.kor-content-box {
  padding: 3rem;
}

.kor-layout-left {
  float: left;
  border-right: 0.2rem solid $kor-bg-3;
}

.kor-layout-bottom {
  border-top: 0.2rem solid $kor-bg-3;
}

.kor-layout-right {
  float: left;
  border-left: 0.2rem solid $kor-bg-3;
  margin-left: -0.2rem;
}

.kor-layout-large {
  width: 48rem;
}

.kor-layout-right.kor-layout-large {
  width: 48rem + 0.2rem;
}

.kor-layout-small {
  width: 24rem;
}

.kor-layout-left {
  min-height: 60rem;
}

.kor-layout-commands {
  float: right;
  margin-left: 2rem;
}

div.hr {
  height: 0.1rem;
  border: none;
  background: url(images/dotted_line.gif) top left;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

div.hr.silent {
  visibility: hidden;
}