kor-entity-page, [data-is=kor-entity-page] {
  .subtitle {
    font-size: 1rem;
    color: $kor-text;
  }

  .field {
    font-weight: bold;
  }

  span.value {
    font-weight: bold;
    color: $kor-shine;
  }

  pre {
    margin: 0rem;
    font-family: $kor-font;
  }
  
  .viewer {
    & > a {
      display: inline-block;
    }

    img {
      width: 100%;
    }

    .commands {
      text-align: center;
    }
  }
}