$kor-error: #cb1525;
$kor-notice: #505050;
$kor-bg: #1e1e1e;
$kor-bg-2: #292929;
$kor-bg-3: #171717;
$kor-text: #bbbbbb;
$kor-shine: #ffffff;
$kor-input-border: 0.1rem solid #565656;
$kor-input-bg: #252525;
$kor-input-bg-focus: #333333;
$kor-button-highlight: #666666;
$kor-line-gray: #565656;
$kor-box-shadow: #000000;
$kor-menu-header: #777777;
$kor-logo: #ffffff;

$kor-font: helvetica, arial;
$kor-font-size: 11px;
$kor-line-height: 16px;
$kor-small-font-size: 0.8rem;

:root {
  --kor-error: #{$kor-error};
  --kor-notice: #{$kor-notice};
  --kor-bg: #{$kor-bg};
  --kor-bg-2: #{$kor-bg-2};
  --kor-bg-3: #{$kor-bg-3};
  --kor-text: #{$kor-text};
  --kor-shine: #{$kor-shine};
  --kor-input-border: #{$kor-input-border};
  --kor-input-bg: #{$kor-input-bg};
  --kor-input-bg-focus: #{$kor-input-bg-focus};
  --kor-button-highlight: #{$kor-button-highlight};
  --kor-line-gray: #{$kor-line-gray};
  --kor-box-shadow: #{$kor-box-shadow};
  --kor-menu-header: #{$kor-menu-header};
  --kor-font: #{$kor-font};
  --kor-font-size: #{$kor-font-size};
  --kor-line-height: #{$kor-line-height};
  --kor-small-font-size: #{$kor-small-font-size};
  --kor-logo: #{$kor-logo};
}


@import 'styles/w/messaging';
@import 'styles/w/modal';

@import 'styles/layout';
@import 'styles/app';
@import 'styles/forms';
@import 'styles/modal';
