<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>ConedaKOR</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('vendor.css') %>"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="<%= stylesheet_path('app.css') %>"
    />
  </head>
  <body>
    <w-app-loader class="kor"></w-app-loader>

    <script
      type="text/javascript"
      src="<%= script_path('app-noboot.js') %>"
    ></script>
    
    <script type="text/javascript">
      riot.mount('w-app-loader');
    </script>
  </body>
</html>
