- content_for :normal_title, I18n.t("notices.access_denied")
- content_for :normal_content do
  = I18n.t("messages.access_denied")
  .hr
  .subtitle
    - if params[:return_to]
      = link_to I18n.t('verbs.login'), controller: "authentication", action: "form", return_to: params[:return_to]
    - else
      = link_to I18n.t('verbs.login'), controller: "authentication", action: "form", return_to: request.env['PATH_INFO']
    |
    = link_to I18n.t('back'), back_save

