development:
  adapter: sqlite3
  database: data/development.sqlite3
  timeout: 5000

  elastic:
    host: elastic
    port: 9200
    index: kor_development

test:
  adapter: mysql2
  host: mysql
  database: kor_test
  username: root
  password: root
  encoding: utf8
  collation: utf8_general_ci
  reconnect: true

  elastic:
    host: elastic
    port: 9200
    index: kor_test

production:
  adapter: mysql2
  host: localhost
  database: kor
  username: kor
  password: kor
  encoding: utf8
  collation: utf8_general_ci
  reconnect: true

  elastic:
    host: elastic
    port: 9200
    index: kor