---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q5580.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sat, 28 Dec 2019 10:36:11 GMT
      Backend-Timing:
      - D=374586 t=1578506977121752
      X-Ats-Timestamp:
      - '1578506977'
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 70.179.22.74
    body:
      encoding: UTF-8
      string: '{"entities":{"Q5580":{"pageid":6611,"ns":0,"title":"Q5580","lastrevid":1085179106,"modified":"2019-12-28T10:36:11Z","type":"item","id":"Q5580","labels":{"en":{"language":"en","value":"Albrecht
        D\u00fcrer"},"de":{"language":"de","value":"Albrecht D\u00fcrer"},"fr":{"language":"fr","value":"Albrecht
        D\u00fcrer"},"it":{"language":"it","value":"Albrecht D\u00fcrer"},"es":{"language":"es","value":"Alberto
        Durero"},"ilo":{"language":"ilo","value":"Albrecht D\u00fcrer"},"en-ca":{"language":"en-ca","value":"Albrecht
        D\u00fcrer"},"en-gb":{"language":"en-gb","value":"Albrecht D\u00fcrer"},"af":{"language":"af","value":"Albrecht
        D\u00fcrer"},"gsw":{"language":"gsw","value":"Albrecht D\u00fcrer"},"an":{"language":"an","value":"Albrecht
        D\u00fcrer"},"ar":{"language":"ar","value":"\u0622\u0644\u0628\u0631\u062e\u062a
        \u062f\u0648\u0631\u0631"},"arz":{"language":"arz","value":"\u0627\u0644\u0628\u0631\u064a\u062e\u062a
        \u062f\u0648\u0631\u064a\u0631"},"az":{"language":"az","value":"Albrext D\u00fcrer"},"bar":{"language":"bar","value":"Albrecht
        D\u00fcrer"},"be":{"language":"be","value":"\u0410\u043b\u044c\u0431\u0440\u044d\u0445\u0442
        \u0414\u0437\u044e\u0440\u044d\u0440"},"bg":{"language":"bg","value":"\u0410\u043b\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"br":{"language":"br","value":"Albrecht D\u00fcrer"},"bs":{"language":"bs","value":"Albrecht
        D\u00fcrer"},"ca":{"language":"ca","value":"Albrecht D\u00fcrer"},"ckb":{"language":"ckb","value":"\u0626\u06d5\u0644\u0628\u0631\u06ce\u0634\u062a
        \u062f\u0648\u06cc\u0631\u06d5\u0631"},"cs":{"language":"cs","value":"Albrecht
        D\u00fcrer"},"cy":{"language":"cy","value":"Albrecht D\u00fcrer"},"da":{"language":"da","value":"Albrecht
        D\u00fcrer"},"el":{"language":"el","value":"\u0386\u03bb\u03bc\u03c0\u03c1\u03b5\u03c7\u03c4
        \u039d\u03c4\u03cd\u03c1\u03b5\u03c1"},"eo":{"language":"eo","value":"Albrecht
        D\u00fcrer"},"et":{"language":"et","value":"Albrecht D\u00fcrer"},"eu":{"language":"eu","value":"Albrecht
        D\u00fcrer"},"fa":{"language":"fa","value":"\u0622\u0644\u0628\u0631\u0634\u062a
        \u062f\u0648\u0631\u0631"},"fi":{"language":"fi","value":"Albrecht D\u00fcrer"},"fy":{"language":"fy","value":"Albrecht
        D\u00fcrer"},"ga":{"language":"ga","value":"Albrecht D\u00fcrer"},"gl":{"language":"gl","value":"Albrecht
        D\u00fcrer"},"gv":{"language":"gv","value":"Albrecht D\u00fcrer"},"he":{"language":"he","value":"\u05d0\u05dc\u05d1\u05e8\u05db\u05d8
        \u05d3\u05d9\u05e8\u05e8"},"hif":{"language":"hif","value":"Albrecht D\u00fcrer"},"hr":{"language":"hr","value":"Albrecht
        D\u00fcrer"},"hsb":{"language":"hsb","value":"Albrecht D\u00fcrer"},"hu":{"language":"hu","value":"Albrecht
        D\u00fcrer"},"hy":{"language":"hy","value":"\u0531\u056c\u0562\u0580\u0565\u056d\u057f
        \u0534\u0575\u0578\u0582\u0580\u0565\u0580"},"ia":{"language":"ia","value":"Albrecht
        D\u00fcrer"},"id":{"language":"id","value":"Albrecht D\u00fcrer"},"io":{"language":"io","value":"Albrecht
        D\u00fcrer"},"is":{"language":"is","value":"Albrecht D\u00fcrer"},"ja":{"language":"ja","value":"\u30a2\u30eb\u30d6\u30ec\u30d2\u30c8\u30fb\u30c7\u30e5\u30fc\u30e9\u30fc"},"ka":{"language":"ka","value":"\u10d0\u10da\u10d1\u10e0\u10d4\u10ee\u10e2
        \u10d3\u10d8\u10e3\u10e0\u10d4\u10e0\u10d8"},"kaa":{"language":"kaa","value":"Albrecht
        D\u00fcrer"},"kbd":{"language":"kbd","value":"\u0410\u043b\u0431\u0440\u0435\u0445\u0442
        \u0414\u0443\u0440\u0435\u0440"},"kk":{"language":"kk","value":"\u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"ko":{"language":"ko","value":"\uc54c\ube0c\ub808\ud788\ud2b8
        \ub4a4\ub7ec"},"ksh":{"language":"ksh","value":"Albrecht D\u00fcrer"},"kw":{"language":"kw","value":"Albrecht
        D\u00fcrer"},"la":{"language":"la","value":"Albertus Durerus"},"lb":{"language":"lb","value":"Albrecht
        D\u00fcrer"},"li":{"language":"li","value":"Albrecht D\u00fcrer"},"lmo":{"language":"lmo","value":"Albrecht
        D\u00fcrer"},"lt":{"language":"lt","value":"Albrecht D\u00fcrer"},"lv":{"language":"lv","value":"Albrehts
        D\u012brers"},"mhr":{"language":"mhr","value":"\u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"mi":{"language":"mi","value":"Albrecht D\u00fcrer"},"mk":{"language":"mk","value":"\u0410\u043b\u0431\u0440\u0435\u0445\u0442
        \u0414\u0438\u0440\u0435\u0440"},"ml":{"language":"ml","value":"\u0d06\u0d7d\u0d2c\u0d4d\u0d30\u0d46\u0d1f\u0d4d\u0d1f\u0d4d
        \u0d21\u0d4d\u0d2f\u0d42\u0d31\u0d7c"},"mn":{"language":"mn","value":"\u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"mr":{"language":"mr","value":"\u0906\u0932\u094d\u092c\u094d\u0930\u0947\u0916\u094d\u0924
        \u0921\u094d\u092f\u0942\u0930\u0930"},"ms":{"language":"ms","value":"Albrecht
        D\u00fcrer"},"mt":{"language":"mt","value":"Albrecht D\u00fcrer"},"mwl":{"language":"mwl","value":"Albrecht
        D\u00fcrer"},"mzn":{"language":"mzn","value":"\u0622\u0644\u0628\u0631\u0634\u062a
        \u062f\u0648\u0631\u0631"},"nah":{"language":"nah","value":"Albrecht D\u00fcrer"},"new":{"language":"new","value":"\u0905\u0932\u094d\u092c\u094d\u0930\u0947\u091a\u094d\u0924\u094d
        \u0921\u0947\u0930\u0930"},"nl":{"language":"nl","value":"Albrecht D\u00fcrer"},"nn":{"language":"nn","value":"Albrecht
        D\u00fcrer"},"oc":{"language":"oc","value":"Albrecht D\u00fcrer"},"pag":{"language":"pag","value":"Albrecht
        D\u00fcrer"},"pam":{"language":"pam","value":"Albrecht D\u00fcrer"},"pl":{"language":"pl","value":"Albrecht
        D\u00fcrer"},"pms":{"language":"pms","value":"Albrecht D\u00fcrer"},"pnb":{"language":"pnb","value":"\u0627\u0644\u0628\u0631\u062e\u062a
        \u062f\u06cc\u0648\u0631\u0631"},"pt":{"language":"pt","value":"Albrecht D\u00fcrer"},"pt-br":{"language":"pt-br","value":"Albrecht
        D\u00fcrer"},"qu":{"language":"qu","value":"Albrecht D\u00fcrer"},"ro":{"language":"ro","value":"Albrecht
        D\u00fcrer"},"ru":{"language":"ru","value":"\u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"rue":{"language":"rue","value":"\u0410\u043b\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"sah":{"language":"sah","value":"\u0410\u043b\u0431\u0440\u0435\u0445\u0442
        \u0414\u04af\u0440\u0435\u0440"},"se":{"language":"se","value":"Albrecht D\u00fcrer"},"sh":{"language":"sh","value":"Albrecht
        D\u00fcrer"},"sk":{"language":"sk","value":"Albrecht D\u00fcrer"},"sl":{"language":"sl","value":"Albrecht
        D\u00fcrer"},"sr":{"language":"sr","value":"\u0410\u043b\u0431\u0440\u0435\u0445\u0442
        \u0414\u0438\u0440\u0435\u0440"},"srn":{"language":"srn","value":"Albrecht
        D\u00fcrer"},"stq":{"language":"stq","value":"Albrecht D\u00fcrer"},"sv":{"language":"sv","value":"Albrecht
        D\u00fcrer"},"sw":{"language":"sw","value":"Albrecht D\u00fcrer"},"ta":{"language":"ta","value":"\u0b86\u0bb2\u0bcd\u0baa\u0bbf\u0bb0\u0bc6\u0b83\u0b95\u0bcd\u0b9f\u0bcd
        \u0b9f\u0bbf\u0baf\u0bc1\u0bb0\u0bc7"},"th":{"language":"th","value":"\u0e2d\u0e31\u0e25\u0e40\u0e1a\u0e23\u0e47\u0e0a\u0e17\u0e4c
        \u0e14\u0e37\u0e2d\u0e40\u0e23\u0e2d\u0e23\u0e4c"},"tl":{"language":"tl","value":"Albrecht
        D\u00fcrer"},"tr":{"language":"tr","value":"Albrecht D\u00fcrer"},"uk":{"language":"uk","value":"\u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"ur":{"language":"ur","value":"\u0627\u0644\u0628\u0631\u0634\u062a
        \u0688\u0648\u0631\u0631"},"uz":{"language":"uz","value":"Albrecht D\u00fcrer"},"vi":{"language":"vi","value":"Albrecht
        D\u00fcrer"},"vls":{"language":"vls","value":"Albrecht D\u00fcrer"},"vo":{"language":"vo","value":"Albrecht
        D\u00fcrer"},"war":{"language":"war","value":"Albrecht D\u00fcrer"},"yi":{"language":"yi","value":"\u05d0\u05dc\u05d1\u05e8\u05e2\u05db\u05d8
        \u05d3\u05d9\u05e8\u05e2\u05e8"},"za":{"language":"za","value":"Albrecht D\u00fcrer"},"zh":{"language":"zh","value":"\u963f\u5c14\u5e03\u96f7\u5e0c\u7279\u00b7\u4e22\u52d2"},"yue":{"language":"yue","value":"Albrecht
        D\u00fcrer"},"ba":{"language":"ba","value":"\u0414\u044e\u0440\u0435\u0440
        \u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442"},"ce":{"language":"ce","value":"\u0414\u044e\u0440\u0435\u0440,
        \u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442"},"nb":{"language":"nb","value":"Albrecht
        D\u00fcrer"},"pa":{"language":"pa","value":"\u0a06\u0a32\u0a2c\u0a30\u0a48\u0a16\u0a24
        \u0a21\u0a3f\u0a09\u0a30\u0a30"},"fo":{"language":"fo","value":"Albrecht D\u00fcrer"},"kn":{"language":"kn","value":"\u0c85\u0cb2\u0ccd\u200d\u0cac\u0ccd\u0cb0\u0cc6\u0c95\u0ccd\u0c9f\u0ccd
        \u0ca1\u0ccd\u0caf\u0cc2\u0cb0\u0cc6\u0cb0\u0ccd"},"sgs":{"language":"sgs","value":"Albrechts
        Diorer\u0117s"},"be-tarask":{"language":"be-tarask","value":"\u0410\u043b\u044c\u0431\u0440\u044d\u0445\u0442
        \u0414\u0443\u0440\u044d\u0440"},"vro":{"language":"vro","value":"D\u00fcreri
        Albrecht"},"vep":{"language":"vep","value":"D\u00fcrer Al''breht"},"ast":{"language":"ast","value":"Albrecht
        D\u00fcrer"},"eml":{"language":"eml","value":"Albrecht D\u00fcrer"},"tt":{"language":"tt","value":"Albrext
        D\u00fcrer"},"cbk-zam":{"language":"cbk-zam","value":"Albrecht D\u00fcrer"},"as":{"language":"as","value":"\u098f\u09b2\u09ac\u09cd\u09f0\u09c7\u0996\u099f
        \u09a1\u09cd\u09af\u09c1\u09f0\u09be\u09f0"},"kab":{"language":"kab","value":"Albrecht
        D\u00fcrer"},"am":{"language":"am","value":"Albrecht D\u00fcrer"},"ay":{"language":"ay","value":"Albrecht
        D\u00fcrer"},"na":{"language":"na","value":"Albrecht D\u00fcrer"},"sm":{"language":"sm","value":"Albrecht
        D\u00fcrer"},"cv":{"language":"cv","value":"\u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"mg":{"language":"mg","value":"Albrecht D\u00fcrer"},"ky":{"language":"ky","value":"\u0414\u04af\u0440\u0435\u0440
        \u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442"},"hi":{"language":"hi","value":"\u0905\u0932\u094d\u092c\u0930\u094d\u0936\u0924
        \u0921\u094b\u0930\u0930"},"bn":{"language":"bn","value":"\u0986\u09b2\u09ac\u09cd\u09b0\u09c7\u0996\u099f
        \u09a1\u09cd\u09af\u09c1\u09b0\u09be\u09b0"},"ne":{"language":"ne","value":"\u0905\u0932\u094d\u092c\u0930\u094d\u0915\u094d\u091f
        \u0921\u0941\u0930\u0947\u0930"},"azb":{"language":"azb","value":"\u0622\u0644\u0628\u0631\u0634\u062a
        \u062f\u0648\u0631\u0631"},"lez":{"language":"lez","value":"\u0410\u043b\u0431\u0440\u0435\u0445\u0442
        \u0414\u0443\u044c\u0440\u0435\u0440"},"sco":{"language":"sco","value":"Albrecht
        D\u00fcrer"},"nan":{"language":"nan","value":"Albrecht D\u00fcrer"},"sq":{"language":"sq","value":"Albrecht
        D\u00fcrer"},"bxr":{"language":"bxr","value":"\u0410\u043b\u044c\u0431\u0440\u0435\u0445\u0442
        \u0414\u044e\u0440\u0435\u0440"},"xmf":{"language":"xmf","value":"\u10d0\u10da\u10d1\u10e0\u10d4\u10ee\u10e2
        \u10d3\u10d8\u10e3\u10e0\u10d4\u10e0\u10d8"},"ln":{"language":"ln","value":"Albrecht
        D\u00fcrer"},"jv":{"language":"jv","value":"Albrecht D\u00fcrer"},"wuu":{"language":"wuu","value":"\u963f\u5c14\u5e03\u96f7\u5e0c\u7279\u00b7\u4e22\u52d2"},"bi":{"language":"bi","value":"Albrecht
        D\u00fcrer"},"kbp":{"language":"kbp","value":"Albrecht D\u00fcrer"},"nds":{"language":"nds","value":"Albrecht
        D\u00fcrer"},"sat":{"language":"sat","value":"\u1c5f\u1c5e\u1c75\u1c68\u1c6e\u1c6a\u1c74\u200c
        \u1c70\u1c69\u1c68\u1c6e\u1c68"},"pcd":{"language":"pcd","value":"Albrecht
        D\u00fcrer"},"frr":{"language":"frr","value":"Albrecht D\u00fcrer"},"diq":{"language":"diq","value":"Albrecht
        D\u00fcrer"},"ary":{"language":"ary","value":"\u0623\u0644\u0628\u0631\u062e\u062a
        \u062f\u0648\u0631\u0631"},"gd":{"language":"gd","value":"Albrecht D\u00fcrer"}},"descriptions":{"en":{"language":"en","value":"German
        painter, printmaker, mathematician, and theorist"},"de":{"language":"de","value":"deutscher
        Maler und Graphiker"},"it":{"language":"it","value":"pittore, incisore, matematico
        e teorico dell''arte tedesco"},"es":{"language":"es","value":"pintor, grabador
        y matem\u00e1tico alem\u00e1n"},"ilo":{"language":"ilo","value":"Aleman a
        pintor, agprenprenta, matematiko, ken teorista"},"fr":{"language":"fr","value":"peintre,
    [...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%0A%20%20%20%20%20%20%20%20SELECT%20?id%20$label%0A%20%20%20%20%20%20%20%20WHERE%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20?id%20rdfs:label%20?label%20.%0A%20%20%20%20%20%20%20%20%20%20%20FILTER(lang(?label)%20=%20%27en%27)%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20VALUES%20(?id)%20%7B(wd:P22)%20(wd:P19)%20(wd:P119)%20(wd:P20)%20(wd:P31)%20(wd:P910)%20(wd:P800)%20(wd:P735)%20(wd:P106)%20(wd:P26)%20(wd:P135)%20(wd:P1343)%20(wd:P1290)%20(wd:P1299)%20(wd:P551)%20(wd:P25)%20(wd:P3373)%20(wd:P1038)%20(wd:P27)%20(wd:P1066)%20(wd:P101)%20(wd:P734)%20(wd:P5008)%20(wd:P509)%20(wd:P136)%20(wd:P140)%20(wd:P1412)%20(wd:P859)%20(wd:P21)%20(wd:P802)%20(wd:P1830)%20(wd:P6379)%7D%0A%20%20%20%20%20%20
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+xml;charset=utf-8
      X-First-Solution-Millis:
      - '3'
      X-Ats-Timestamp:
      - '1578506979'
      X-Analytics:
      - WMF-Last-Access-Global=08-Jan-2020;https=1
      X-Client-Ip:
      - 70.179.22.74
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<sparql xmlns='http://www.w3.org/2005/sparql-results#'>\n\t<head>\n\t\t<variable
        name='id'/>\n\t\t<variable name='label'/>\n\t</head>\n\t<results>\n\t\t<result>\n\t\t\t<binding
        name='id'>\n\t\t\t\t<uri>http://www.wikidata.org/entity/P19</uri>\n\t\t\t</binding>\n\t\t\t<binding
        name='label'>\n\t\t\t\t<literal xml:lang='en'>place of birth</literal>\n\t\t\t</binding>\n\t\t</result>\n\t\t<result>\n\t\t\t<binding
        name='id'>\n\t\t\t\t<uri>http://www.wikidata.org/entity/P20</uri>\n\t\t\t</binding>\n\t\t\t<binding
        name='label'>\n\t\t\t\t<literal xml:lang='en'>place of death</literal>\n\t\t\t</binding>\n\t\t</result>\n\t\t<result>\n\t\t\t<binding
        name='id'>\n\t\t\t\t<uri>http://www.wikidata.org/entity/P21</uri>\n\t\t\t</binding>\n\t\t\t<binding
        name='label'>\n\t\t\t\t<literal [...]
- request:
    method: get
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q1362177.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sun, 08 Dec 2019 20:45:05 GMT
      Backend-Timing:
      - D=214327 t=1578506980000671
      X-Ats-Timestamp:
      - '1578506980'
      X-Analytics:
      - WMF-Last-Access=08-Jan-2020;WMF-Last-Access-Global=08-Jan-2020;https=1
      X-Client-Ip:
      - 70.179.22.74
    body:
      encoding: UTF-8
      string: '{"entities":{"Q1362177":{"pageid":1301740,"ns":0,"title":"Q1362177","lastrevid":1072269598,"modified":"2019-12-08T20:45:05Z","type":"item","id":"Q1362177","labels":{"pt":{"language":"pt","value":"Melancolia
        I"},"pl":{"language":"pl","value":"Melancholia I"},"fr":{"language":"fr","value":"Melencolia"},"he":{"language":"he","value":"\u05de\u05dc\u05e0\u05db\u05d5\u05dc\u05d9\u05d4"},"ru":{"language":"ru","value":"\u041c\u0435\u043b\u0430\u043d\u0445\u043e\u043b\u0438\u044f"},"es":{"language":"es","value":"Melancol\u00eda
        I"},"en":{"language":"en","value":"Melencolia I"},"mk":{"language":"mk","value":"\u041c\u0435\u043b\u0430\u043d\u0445\u043e\u043b\u0438\u0458\u0430
        I"},"fi":{"language":"fi","value":"Melankolia I"},"it":{"language":"it","value":"Melencolia
        I"},"de":{"language":"de","value":"Melencolia I"},"sl":{"language":"sl","value":"Melancholia
        I"},"ja":{"language":"ja","value":"\u30e1\u30e9\u30f3\u30b3\u30ea\u30a2 I"},"cs":{"language":"cs","value":"Melancholie
        I"},"nl":{"language":"nl","value":"Melencolia I"},"nb":{"language":"nb","value":"Melencolia
        I"},"tr":{"language":"tr","value":"Melencolia I"},"hy":{"language":"hy","value":"\u0544\u0565\u056c\u0561\u0576\u056d\u0578\u056c\u056b\u0561
        I"},"zh-hant":{"language":"zh-hant","value":"\u6885\u502b\u79d1\u5229\u4e9e\u4e00\u4e16"},"zh-cn":{"language":"zh-cn","value":"\u6885\u4f26\u79d1\u5229\u4e9a\u4e00\u4e16"},"hr":{"language":"hr","value":"Melenkolija
        I"},"zh":{"language":"zh","value":"\u5fe7\u90c1 I"},"da":{"language":"da","value":"Melencolia
        I"},"uk":{"language":"uk","value":"\u041c\u0435\u043b\u0430\u043d\u0445\u043e\u043b\u0456\u044f"},"zh-hans":{"language":"zh-hans","value":"\u6885\u4f26\u79d1\u5229\u4e9a\u4e00\u4e16"},"pt-br":{"language":"pt-br","value":"Melancolia
        I"},"fa":{"language":"fa","value":"\u0645\u0644\u0627\u0646\u06a9\u0648\u0644\u06cc\u0627
        \u06f1"},"az":{"language":"az","value":"Melanxoliya I"}},"descriptions":{"fr":{"language":"fr","value":"estampe
        de D\u00fcrer"},"en":{"language":"en","value":"1514 engraving by Albrecht
        D\u00fcrer"},"nl":{"language":"nl","value":"print van Albrecht D\u00fcrer"},"de":{"language":"de","value":"1514
        Kupferstich von\u00a0Albrecht D\u00fcrer"},"it":{"language":"it","value":"incisione
        a bulino di Albrecht D\u00fcrer"},"da":{"language":"da","value":"indgravering
        fra 1514 af Albrecht D\u00fcrer"},"cs":{"language":"cs","value":"D\u00fcrerova
        m\u011bdirytina"}},"aliases":{"fr":[{"language":"fr","value":"Melencolia I"}],"he":[{"language":"he","value":"\u05de\u05dc\u05e0\u05db\u05d5\u05dc\u05d9\u05d4
        1"}],"es":[{"language":"es","value":"Melancholia I"},{"language":"es","value":"Melancolia
        I"},{"language":"es","value":"La melancol\u00eda"},{"language":"es","value":"La
        melancolia"}],"it":[{"language":"it","value":"Melancholia I"}],"de":[{"language":"de","value":"Melancholia
        I"}],"sl":[{"language":"sl","value":"Melancolica"}],"ja":[{"language":"ja","value":"\u30e1\u30e9\u30f3\u30b3\u30ea\u30a2I"},{"language":"ja","value":"\u30e1\u30e9\u30f3\u30b3\u30ea\u30a21"}],"en":[{"language":"en","value":"Melencolia"},{"language":"en","value":"La
        Melencolia"}],"zh-cn":[{"language":"zh-cn","value":"\u5fe7\u90c1 I"}],"zh-hant":[{"language":"zh-hant","value":"\u6182\u9b31
        I"}],"zh":[{"language":"zh","value":"\u6182\u9b31 I"}]},"claims":{"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Albrecht
        D\u00fcrer - Melencolia I - Google Art Project (427760).jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","qualifiers":{"P217":[{"snaktype":"value","property":"P217","hash":"f4821413ac2cd1393ebe0633e8deb4bc59dd9433","datavalue":{"value":"3486-4","type":"string"},"datatype":"string"}],"P195":[{"snaktype":"value","property":"P195","hash":"0331201414d5785efe93ce5dda8424b5d2eb8049","datavalue":{"value":{"entity-type":"item","numeric-id":1464509,"id":"Q1464509"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P217","P195"],"id":"Q1362177$F424A176-B57D-4F90-A7DB-3F011AE56952","rank":"preferred"},{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Melencolia
        I MET DP820348.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","qualifiers":{"P3634":[{"snaktype":"value","property":"P3634","hash":"9a089c4681a72f466bee279c316d1ddb5d3c5715","datavalue":{"value":"43.106.1","type":"string"},"datatype":"external-id"}]},"qualifiers-order":["P3634"],"id":"Q1362177$BFFF26A8-6D34-41DE-8B1D-309C3300BBB3","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":11060274,"id":"Q11060274"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q1362177$B2DFD183-AE5F-4167-AF43-1090F3A87C7E","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"6db7107d81da881e4c863c461b1498de16033224","snaks":{"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2017-04-14T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.metmuseum.org/art/collection/search/336228","type":"string"},"datatype":"url"}]},"snaks-order":["P813","P854"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/01ftxg","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q1362177$9CB5CC64-BEE9-42FB-AACB-1D596D2FC2E3","rank":"normal","references":[{"hash":"2b00cb481cddcac7623114367489b5c194901c4a","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312,"id":"Q15241312"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P170":[{"mainsnak":{"snaktype":"value","property":"P170","datavalue":{"value":{"entity-type":"item","numeric-id":5580,"id":"Q5580"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1362177$D2D46565-C167-4CB4-AAAC-FAAB32142005","rank":"normal","references":[{"hash":"8f08ac3e0839bdbc4c6eb8d671e772deb12ba423","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":465,"id":"Q465"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"83f67fe5652f1ee684736917d97b785ef4df18e6","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":29633776,"id":"Q29633776"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2017-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://jocondelab.iri-research.org/jocondelab/notice/336143/","type":"string"},"datatype":"url"}]},"snaks-order":["P248","P813","P854"]}]}],"P571":[{"mainsnak":{"snaktype":"value","property":"P571","datavalue":{"value":{"time":"+1514-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q1362177$99365A87-72F8-4604-8B92-CAD0C2990EDA","rank":"normal","references":[{"hash":"6db7107d81da881e4c863c461b1498de16033224","snaks":{"P813":[{"snaktype":"value","property":"P813","datavalue":{"value":{"time":"+2017-04-14T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.metmuseum.org/art/collection/search/336228","type":"string"},"datatype":"url"}]},"snaks-order":["P813","P854"]}]}],"P180":[{"mainsnak":{"snaktype":"value","property":"P180","datavalue":{"value":{"entity-type":"item","numeric-id":235113,"id":"Q235113"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1362177$6ade3751-48a7-33c9-84c6-4776f2bbe9c7","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P180","datavalue":{"value":{"entity-type":"item","numeric-id":284865,"id":"Q284865"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1362177$1ee7d5[...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%0A%20%20%20%20%20%20%20%20SELECT%20?id%20$label%0A%20%20%20%20%20%20%20%20WHERE%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20?id%20rdfs:label%20?label%20.%0A%20%20%20%20%20%20%20%20%20%20%20FILTER(lang(?label)%20=%20%27en%27)%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20VALUES%20(?id)%20%7B(wd:P31)%20(wd:P170)%20(wd:P180)%20(wd:P136)%20(wd:P135)%20(wd:P361)%20(wd:P195)%20(wd:P2079)%20(wd:P1343)%7D%0A%20%20%20%20%[...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%0A%20%20%20%20%20%20SELECT%20?item%20?rel%0A%20%20%20%20%20%20WHERE%20%0A%20%20%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%7B%20?item%20?rel%20wd:Q5580%20%7D%20UNION%0A%20%20%20%20%20%20%20%20%7B%20wd:Q5580%20?rel%20?item%20%7D%0A%20%20%20%20%20%20%20%20FILTER(?item%20IN%20(wd:Q5580))%0A%20%20%20%20%20%20%7D%0A%20%20%20%20
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+xml;charset=utf-8
      X-First-Solution-Millis:
      - '4'
      X-Ats-Timestamp:
      - '1578513658'
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 70.179.22.74
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<sparql xmlns='http://www.w3.org/2005/sparql-results#'>\n\t<head>\n\t\t<variable
        name='item'/>\n\t\t<variable name='rel'/>\n\t</head>\n\t<results>\n\t</results>\n</sparql>\n"
  recorded_at: Wed, 08 Jan 2020 20:00:58 GMT
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%0A%20%20%20%20%20%20SELECT%20?item%20?rel%0A%20%20%20%20%20%20WHERE%20%0A%20%20%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%7B%20?item%20?rel%20wd:Q1362177%20%7D%20UNION%0A%20%20%20%20%20%20%20%20%7B%20wd:Q5580%20?rel%20?item%20%7D%0A%20%20%20%20%20%20%20%20FILTER(?item%20IN%20(wd:Q1362177,%20wd:Q5580))%0A%20%20%20%20%20%20%7D%0A%20%20%20%20
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:[...]
[...]
