---
http_interactions:
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%0A%20%20%20%20%20%20SELECT%20?item%20?rel%0A%20%20%20%20%20%20WHERE%20%0A%20%20%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%7B%20?item%20?rel%20wd:Q5580%20%7D%20UNION%0A%20%20%20%20%20%20%20%20%7B%20wd:Q5580%20?rel%20?item%20%7D%0A%20%20%20%20%20%20%20%20FILTER(?item%20IN%20(wd:Q1362177,%20wd:Q42,%20wd:Q1234))%0A%20%20%20%20%20%20%7D%0A%20%20%20%20
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+xml;charset=utf-8
      X-First-Solution-Millis:
      - '5'
      X-Ats-Timestamp:
      - '1578512342'
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 70.179.22.74
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<sparql xmlns='http://www.w3.org/2005/sparql-results#'>\n\t<head>\n\t\t<variable
        name='item'/>\n\t\t<variable name='rel'/>\n\t</head>\n\t<results>\n\t\t<result>\n\t\t\t<binding
        name='rel'>\n\t\t\t\t<uri>http://www.wikidata.org/prop/direct/P800</uri>\n\t\t\t</binding>\n\t\t\t<binding
        name='item'>\n\t\t\t\t<uri>http://www.wikidata.org/entity/Q1362177</uri>\n\t\t\t</binding>\n\t\t</result>\n\t\t<result>\n\t\t\t<binding
        name='item'>\n\t\t\t\t<uri>http://www.wikidata.org/entity/Q1362177</uri>\n\t\t\t</binding>\n\t\t\t<binding
        name='rel'>\n\t\t\t\t<uri>http://www.wikidata.org/prop/direct/P170</uri>\n\t\t\t</binding>\n\t\t</result>\n\t</results>\n</sparql>\n"
  recorded_at: Wed, 08 Jan 2020 19:39:02 GMT
recorded_with: VCR 4.0.0
