---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q762.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Wed, 03 Jan 2018 23:35:00 GMT
      Backend-Timing:
      - D=85789 t=1515162340725489
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 62.178.122.246
    body:
      encoding: UTF-8
      string: '{"entities":{"Q762":{"pageid":1069,"ns":0,"title":"Q762","lastrevid":616313294,"modified":"2018-01-03T23:35:00Z","type":"item","id":"Q762","labels":{"fr":{"language":"fr","value":"L\u00e9onard
        de Vinci"},"en":{"language":"en","value":"Leonardo da Vinci"},"it":{"language":"it","value":"Leonardo
        da Vinci"},"be-tarask":{"language":"be-tarask","value":"\u041b\u0435\u0430\u043d\u0430\u0440\u0434\u0430
        \u0434\u0430 \u0412\u0456\u043d\u0447\u044b"},"nan":{"language":"nan","value":"Leonardo
        da Vinci"},"ilo":{"language":"ilo","value":"Leonardo da Vinci"},"es":{"language":"es","value":"Leonardo
        da Vinci"},"en-ca":{"language":"en-ca","value":"Leonardo da Vinci"},"en-gb":{"language":"en-gb","value":"Leonardo
        da Vinci"},"de":{"language":"de","value":"Leonardo da Vinci"},"ab":{"language":"ab","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"af":{"language":"af","value":"Leonardo
        da Vinci"},"am":{"language":"am","value":"\u120a\u12ee\u1293\u122d\u12f6 \u12f3\u126c\u1295\u127a"},"an":{"language":"an","value":"Leonardo
        da Vinci"},"ar":{"language":"ar","value":"\u0644\u064a\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627 \u0641\u064a\u0646\u0634\u064a"},"arc":{"language":"arc","value":"\u0720\u071d\u0718\u0722\u072a\u0715\u0718
        \u0715\u0717 \u0712\u0722\u072c\u072b\u071d"},"arz":{"language":"arz","value":"\u0644\u064a\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627\u0641\u064a\u0646\u0634\u0649"},"as":{"language":"as","value":"\u09b2\u09bf\u0985''\u09a8\u09be\u09f0\u09cd\u09a1''
        \u09a6\u09be \u09ad\u09bf\u09a8\u09cd\u09b8\u09bf"},"ast":{"language":"ast","value":"Leonardo
        da Vinci"},"ay":{"language":"ay","value":"Leonardo da Vinci"},"az":{"language":"az","value":"Leonardo
        da Vin\u00e7i"},"ba":{"language":"ba","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"bcl":{"language":"bcl","value":"Leonardo
        Da Vinci"},"be":{"language":"be","value":"\u041b\u0435\u0430\u043d\u0430\u0440\u0434\u0430
        \u0434\u0430 \u0412\u0456\u043d\u0447\u044b"},"bg":{"language":"bg","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"bn":{"language":"bn","value":"\u09b2\u09bf\u0993\u09a8\u09be\u09b0\u09cd\u09a6\u09cb
        \u09a6\u09be \u09ad\u09bf\u099e\u09cd\u099a\u09bf"},"bo":{"language":"bo","value":"\u0f63\u0f7a\u0f0b\u0f68\u0f7c\u0f0b\u0f53\u0f0b\u0f4f\u0f7c\u0f0b\u0f4f\u0f0b\u0f67\u0fa5\u0f72\u0f53\u0f0b\u0f46\u0f72\u0f0d"},"br":{"language":"br","value":"Leonardo
        da Vinci"},"bs":{"language":"bs","value":"Leonardo da Vinci"},"ca":{"language":"ca","value":"Leonardo
        da Vinci"},"ch":{"language":"ch","value":"Leonardo da Vinci"},"ckb":{"language":"ckb","value":"\u0644\u06cc\u06c6\u0646\u0627\u0631\u062f\u06c6
        \u062f\u0627 \u06a4\u06cc\u0646\u0686\u06cc"},"cs":{"language":"cs","value":"Leonardo
        da Vinci"},"cv":{"language":"cv","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"cy":{"language":"cy","value":"Leonardo
        da Vinci"},"da":{"language":"da","value":"Leonardo da Vinci"},"diq":{"language":"diq","value":"Leonardo
        da Vinci"},"el":{"language":"el","value":"\u039b\u03b5\u03bf\u03bd\u03ac\u03c1\u03bd\u03c4\u03bf
        \u03bd\u03c4\u03b1 \u0392\u03af\u03bd\u03c4\u03c3\u03b9"},"eo":{"language":"eo","value":"Leonardo
        da Vinci"},"et":{"language":"et","value":"Leonardo da Vinci"},"eu":{"language":"eu","value":"Leonardo
        da Vinci"},"ext":{"language":"ext","value":"Leonardo da Vinci"},"fa":{"language":"fa","value":"\u0644\u0626\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627\u0648\u06cc\u0646\u0686\u06cc"},"fi":{"language":"fi","value":"Leonardo
        da Vinci"},"frr":{"language":"frr","value":"Leonardo da Vinci"},"fy":{"language":"fy","value":"Leonardo
        da Vinci"},"ga":{"language":"ga","value":"Leonardo da Vinci"},"gan":{"language":"gan","value":"\u9054\u82ac\u5947"},"gd":{"language":"gd","value":"Leonardo
        Da Vinci"},"gl":{"language":"gl","value":"Leonardo da Vinci"},"got":{"language":"got","value":"\ud800\udf3b\ud800\udf34\ud800\udf49\ud800\udf3d\ud800\udf30\ud800\udf42\ud800\udf33\ud800\udf49
        \ud800\udf33\ud800\udf30 \ud800\udf45\ud800\udf39\ud800\udf3d\ud800\udf44\ud800\udf43\ud800\udf3e\ud800\udf39"},"gv":{"language":"gv","value":"Leonardo
        da Vinci"},"haw":{"language":"haw","value":"Leonardo da Vinci"},"he":{"language":"he","value":"\u05dc\u05d0\u05d5\u05e0\u05e8\u05d3\u05d5
        \u05d3\u05d4 \u05d5\u05d9\u05e0\u05e6''\u05d9"},"hi":{"language":"hi","value":"\u0932\u093f\u0913\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u0935\u093f\u0902\u091a\u0940"},"hif":{"language":"hif","value":"Leonardo
        da Vinci"},"hr":{"language":"hr","value":"Leonardo da Vinci"},"hu":{"language":"hu","value":"Leonardo
        da Vinci"},"hy":{"language":"hy","value":"\u053c\u0565\u0578\u0576\u0561\u0580\u0564\u0578
        \u0564\u0561 \u054e\u056b\u0576\u0579\u056b"},"ia":{"language":"ia","value":"Leonardo
        da Vinci"},"id":{"language":"id","value":"Leonardo da Vinci"},"io":{"language":"io","value":"Leonardo
        da Vinci"},"is":{"language":"is","value":"Leonardo da Vinci"},"ja":{"language":"ja","value":"\u30ec\u30aa\u30ca\u30eb\u30c9\u30fb\u30c0\u30fb\u30f4\u30a3\u30f3\u30c1"},"jbo":{"language":"jbo","value":"leonardos.davintcis"},"jv":{"language":"jv","value":"Leonardo
        Da Vinci"},"ka":{"language":"ka","value":"\u10da\u10d4\u10dd\u10dc\u10d0\u10e0\u10d3\u10dd
        \u10d3\u10d0 \u10d5\u10d8\u10dc\u10e9\u10d8"},"kaa":{"language":"kaa","value":"Leonardo
        da Vinci"},"kab":{"language":"kab","value":"Leonardo da Vinci"},"kbd":{"language":"kbd","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"kk":{"language":"kk","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"kn":{"language":"kn","value":"\u0cb2\u0cbf\u0caf\u0ca8\u0cbe\u0cb0\u0ccd\u0ca1\u0cca
        \u0ca1 \u0cb5\u0cbf\u0c82\u0c9a\u0cbf"},"ko":{"language":"ko","value":"\ub808\uc624\ub098\ub974\ub3c4
        \ub2e4 \ube48\uce58"},"krc":{"language":"krc","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"ksh":{"language":"ksh","value":"Leonardo
        da Vinci"},"ku":{"language":"ku","value":"Leonardo Da Vinci"},"kw":{"language":"kw","value":"Leonardo
        da Vinci"},"la":{"language":"la","value":"Leonardus Vincius"},"lad":{"language":"lad","value":"Leonardo
        da Vinci"},"lb":{"language":"lb","value":"Leonardo da Vinci"},"lez":{"language":"lez","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"li":{"language":"li","value":"Leonardo
        da Vinci"},"lij":{"language":"lij","value":"Leonardo da Vinci"},"lmo":{"language":"lmo","value":"Leonard
        da Vinci"},"lt":{"language":"lt","value":"Leonardo da Vinci"},"lv":{"language":"lv","value":"Leonardo
        da Vin\u010di"},"map-bms":{"language":"map-bms","value":"Leonardo da Vinci"},"mhr":{"language":"mhr","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"mi":{"language":"mi","value":"Leonardo
        da Vinci"},"mk":{"language":"mk","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"ml":{"language":"ml","value":"\u0d32\u0d3f\u0d2f\u0d28\u0d3e\u0d7c\u0d21\u0d4b
        \u0d21\u0d3e \u0d35\u0d3f\u0d1e\u0d4d\u0d1a\u0d3f"},"mn":{"language":"mn","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"mr":{"language":"mr","value":"\u0932\u093f\u0913\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u0935\u093f\u0902\u091a\u0940"},"ms":{"language":"ms","value":"Leonardo
        Da Vinci"},"mt":{"language":"mt","value":"Leonardo da Vinci"},"mwl":{"language":"mwl","value":"Leonardo
        da Vinci"},"my":{"language":"my","value":"\u101c\u102e\u101a\u102d\u102f\u1014\u102c\u1012\u102d\u102f\u1012\u102b\u1017\u1004\u103a\u1001\u103b\u102e"},"mzn":{"language":"mzn","value":"\u0644\u0626\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627\u0648\u06cc\u0646\u0686\u06cc"},"nah":{"language":"nah","value":"Leonardo
        da Vinci"},"nap":{"language":"nap","value":"Leonardo da Vinci"},"nds":{"language":"nds","value":"Leonardo
        da Vinci"},"nds-nl":{"language":"nds-nl","value":"Leonardo da Vinci"},"ne":{"language":"ne","value":"\u0932\u0947\u0913\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u092d\u093f\u091e\u094d\u091a\u0940"},"new":{"language":"new","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u092d\u093f\u0928\u094d\u0938\u0940"},"nl":{"language":"nl","value":"Leonardo
        da Vinci"},"nn":{"language":"nn","value":"Leonardo da Vinci"},"oc":{"language":"oc","value":"Leonardo
        da Vinci"},"os":{"language":"os","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"pam":{"language":"pam","value":"Leonardo
        da Vinci"},"pfl":{"language":"pfl","value":"Leonardo da Vinci"},"pl":{"language":"pl","value":"Leonardo
        da Vinci"},"pms":{"language":"pms","value":"Leonard da Vinci"},"pnb":{"language":"pnb","value":"\u0644\u06cc\u0648\u0646\u0627\u0631\u0688\u0648
        \u0688\u06cc \u0648\u0646\u0686\u06cc"},"ps":{"language":"ps","value":"\u0644\u064a\u0648\u0646\u0627\u0631\u0689\u0648
        \u0689\u0627\u0648\u06d0\u0646\u0686\u064a"},"pt":{"language":"pt","value":"Leonardo
        da Vinci"},"qu":{"language":"qu","value":"Leonardo da Vinci"},"ro":{"language":"ro","value":"Leonardo
        da Vinci"},"roa-tara":{"language":"roa-tara","value":"Leonardo da Vinci"},"ru":{"language":"ru","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"rue":{"language":"rue","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0456\u043d\u0447\u0456"},"sa":{"language":"sa","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u0935\u093f\u0928\u094d\u0938\u0940"},"sah":{"language":"sah","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"sc":{"language":"sc","value":"Leonardo
        da Vinci"},"scn":{"language":"scn","value":"Liunardu da Vinci"},"sco":{"language":"sco","value":"Leonardo
        da Vinci"},"se":{"language":"se","value":"Leonardo da Vinci"},"sh":{"language":"sh","value":"Leonardo
        Da Vinci"},"si":{"language":"si","value":"\u0dbd\u0dd2\u0dba\u0db1\u0dcf\u0da9\u0ddd
        \u0da9\u0dcf \u0dc0\u0dd2\u0db1\u0dca\u0dc3\u0dd2"},"sk":{"language":"sk","value":"Leonardo
        da Vinci"},"sl":{"language":"sl","value":"Leonardo da Vinci"},"so":{"language":"so","value":"Leonardo
        da Vinci"},"sq":{"language":"sq","value":"Leonardo da Vin\u00e7i"},"sr":{"language":"sr","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"srn":{"language":"srn","value":"Leonardo
        da Vinci"},"stq":{"language":"stq","value":"Leonardo da Vinci"},"su":{"language":"su","value":"Leonardo
        da Vinci"},"sv":{"language":"sv","value":"Leonardo da Vinci"},"sw":{"language":"sw","value":"Leonardo
        da Vinci"},"szl":{"language":"szl","value":"Leonardo da Vinci"},"ta":{"language":"ta","value":"\u0bb2\u0bbf\u0baf\u0bca\u0ba9\u0bbe\u0bb0\u0bcd\u0b9f\u0bcb
        \u0b9f\u0bbe \u0bb5\u0bbf\u0ba9\u0bcd\u0b9a\u0bbf"},"te":{"language":"te","value":"\u0c32\u0c3f\u0c2f\u0c4a\u0c28\u0c3e\u0c30\u0c4d\u0c21\u0c4b
        \u0c21\u0c3e\u0c35\u0c3f\u0c28\u0c4d\u0c38\u0c3f"},"tet":{"language":"tet","value":"Leonardo
        da Vinci"},"tg":{"language":"tg","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"th":{"language":"th","value":"\u0e40\u0e25\u0e42\u0e2d\u0e19\u0e32\u0e23\u0e4c\u0e42\u0e14
        \u0e14\u0e32 \u0e27\u0e34\u0e19\u0e0a\u0e35"},"tl":{"language":"tl","value":"Leonardo
        da Vinci"},"tr":{"language":"tr","value":"Leonardo da Vinci"},"tt":{"language":"tt","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"udm":{"language":"udm","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"ug":{"language":"ug","value":"\u062f\u0627\u06cb\u06d0\u0649\u0646\u0686\u0649"},"uk":{"language":"uk","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0456\u043d\u0447\u0456"},"ur":{"language":"ur","value":"\u0644\u06cc\u0648\u0646\u0627\u0631\u0688\u0648
        \u0688\u0627 \u0648\u0646\u0686\u06cc"},"uz":{"language":"uz","value":"Leonardo
        da Vinci"},"vec":{"language":"vec","value":"Leonardo da Vinci"},"vep":{"language":"vep","value":"Leonardo
        da Vin\u010di"},"vi":{"language":"vi","value":"Leonardo da Vinci"},"vls":{"language":"vls","value":"Leonardo
        da Vinci"},"vo":{"language":"vo","value":"Leonardo da Vinci"},"war":{"language":"war","value":"Leonardo
        da Vinci"},"xal":{"language":"xal","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"xmf":{"language":"xmf","value":"\u10da\u10d4\u10dd\u10dc\u10d0\u10e0\u10d3\u10dd
        \u10d3\u10d0 \u10d5\u10d8\u10dc\u10e9\u10d8"},"yi":{"language":"yi","value":"\u05dc\u05e2\u05d0\u05e0\u05d0\u05e8\u05d3\u05d0
        \u05d3\u05d0 \u05d5\u05d5\u05d9\u05e0\u05d8\u05e9\u05d9"},"yo":{"language":"yo","value":"Leonardo
        da Vinci"},"zh":{"language":"zh","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"zh-cn":{"language":"zh-cn","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"zh-hans":{"language":"zh-hans","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"zh-hant":{"language":"zh-hant","value":"\u674e\u5967\u7d0d\u591a\u00b7\u9054\u6587\u897f"},"zu":{"language":"zu","value":"Leonardo
        da Vinci"},"gn":{"language":"gn","value":"Leonardo da Vinci"},"nb":{"language":"nb","value":"Leonardo
        da Vinci"},"kl":{"language":"kl","value":"Leonardo da Vinci"},"zea":{"language":"zea","value":"Leonardo
        da Vinci"},"bxr":{"language":"bxr","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"min":{"language":"min","value":"Leonardo
        da Vinci"},"ky":{"language":"ky","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"gu":{"language":"gu","value":"\u0ab2\u0abf\u0a93\u0aa8\u0abe\u0ab0\u0acd\u0aa1\u0acb
        \u0aa6 \u0ab5\u0abf\u0aa8\u0acd\u0a9a\u0ac0"},"ce":{"language":"ce","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"mg":{"language":"mg","value":"L\u00e9onard
        de Vinci"},"pa":{"language":"pa","value":"\u0a32\u0a3f\u0a13\u0a28\u0a3e\u0a30\u0a26\u0a4b
        \u0a26\u0a3e \u0a35\u0a3f\u0a70\u0a1a\u0a40"},"fo":{"language":"fo","value":"Leonardo
        da Vinci"},"sr-ec":{"language":"sr-ec","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"sr-el":{"language":"sr-el","value":"Leonardo
        da Vin\u010di"},"pt-br":{"language":"pt-br","value":"Leonardo da Vinci"},"crh-latn":{"language":"crh-latn","value":"Leonardo
        da Vin\u00e7i"},"gsw":{"language":"gsw","value":"Leonardo da Vinci"},"vro":{"language":"vro","value":"Da
        Vinci Leonardo"},"sgs":{"language":"sgs","value":"Leuonards da V\u0117n\u010d\u0117s"},"yue":{"language":"yue","value":"\u9054\u6587\u897f"},"tyv":{"language":"tyv","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"bar":{"language":"bar","value":"Leonardo
        da Vinci"},"or":{"language":"or","value":"\u0b32\u0b3f\u0b13\u0b28\u0b3e\u0b30\u0b4d\u0b21\u0b4b
        \u0b26\u0b3e \u0b2d\u0b3f\u0b28\u0b4d\u200c\u0b38\u0b3f"},"rup":{"language":"rup","value":"Leonardo
        da Vinci"},"na":{"language":"na","value":"Leonardo da Vinci"},"ht":{"language":"ht","value":"Leonardo
        da Vinci"},"mai":{"language":"mai","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u092d\u093f\u0928\u094d\u091a\u0940"},"pcd":{"language":"pcd","value":"Leonardo
        da Vinci"},"zh-hk":{"language":"zh-hk","value":"\u674e\u5b89\u7d0d\u5ea6\u00b7\u9054\u6587\u897f"},"zh-mo":{"language":"zh-mo","value":"\u674e\u5b89\u7d0d\u5ea6\u00b7\u9054\u6587\u897f"},"zh-my":{"language":"zh-my","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"zh-sg":{"language":"zh-sg","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"zh-tw":{"language":"zh-tw","value":"\u674e\u5967\u7d0d\u591a\u00b7\u9054\u6587\u897f"},"lzh":{"language":"lzh","value":"\u9054\u6587\u897f"},"xh":{"language":"xh","value":"ULeonardo
        da Vinci"},"tk":{"language":"tk","value":"Leonardo da Win\u00e7i"},"ceb":{"language":"ceb","value":"Leonardo
        da Vinci"},"cbk-zam":{"language":"cbk-zam","value":"Leonardo da Vinci"},"bho":{"language":"bho","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0921\u094b
        \u0921\u093e \u0935\u093f\u0902\u091a\u0940"},"jam":{"language":"jam","value":"Lionaado
        da Vinchi"},"azb":{"language":"azb","value":"\u0644\u0626\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627\u0648\u06cc\u0646\u0686\u06cc"},"hak":{"language":"hak","value":"Leonardo
        da Vinci"},"de-ch":{"language":"de-ch","value":"Leonardo da Vinci"},"ln":{"language":"ln","value":"L\u00e9onard
        Ya Vinci"},"olo":{"language":"olo","value":"Leonardo da Vinci"},"gom":{"language":"gom","value":"Leonardo
        da Vinci"},"bi":{"language":"bi","value":"Leonardo da Vinci"},"wuu":{"language":"wuu","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"aa":{"language":"aa","value":"Museo
        Galileo"},"ace":{"language":"ace","value":"Museo Galileo"},"ak":{"language":"ak","value":"Museo
        Galileo"},"aln":{"language":"aln","value":"Museo Galileo"},"ang":{"language":"ang","value":"Museo
        Galileo"},"anp":{"language":"anp","value":"Museo Galileo"},"arn":{"language":"arn","value":"Museo
        Galileo"},"ary":{"language":"ary","value":"Museo Galileo"},"av":{"language":"av","value":"Museo
        Galileo"},"avk":{"language":"avk","value":"Museo Galileo"},"bcc":{"language":"bcc","value":"Museo
        Galileo"},"bjn":{"language":"bjn","value":"Museo Galileo"},"bm":{"language":"bm","value":"Museo
        Galileo"},"bpy":{"language":"bpy","value":"Museo Galileo"},"bqi":{"language":"bqi","value":"Museo
        Galileo"},"brh":{"language":"brh","value":"Museo Galileo"},"bug":{"language":"bug","value":"Museo
        Galileo"},"cdo":{"language":"cdo","value":"Museo Galileo"},"cho":{"language":"cho","value":"Museo
        Galileo"},"chr":{"language":"chr","value":"Museo Galileo"},"chy":{"language":"chy","value":"Museo
        Galileo"},"co":{"language":"co","value":"Museo Galileo"},"cps":{"language":"cps","value":"Museo
        Galileo"},"cr":{"language":"cr","value":"Museo Galileo"},"crh-cyrl":{"language":"crh-cyrl","value":"Museo
        Galileo"},"csb":{"language":"csb","value":"Museo Galileo"},"cu":{"language":"cu","value":"Museo
        Galileo"},"de-at":{"language":"de-at","value":"Museo Galileo"},"dsb":{"language":"dsb","value":"Museo
        Galileo"},"dtp":{"language":"dtp","value":"Museo Galileo"},"dv":{"language":"dv","value":"Museo
        Galileo"},"dz":{"language":"dz","value":"Museo Galileo"},"ee":{"language":"ee","value":"Museo
        Galileo"},"egl":{"language":"egl","value":"Museo Galileo"},"eml":{"language":"eml","value":"Museo
        Galileo"},"ff":{"language":"ff","value":"Museo Galileo"},"fit":{"language":"fit","value":"Museo
        Galileo"},"fj":{"language":"fj","value":"Museo Galileo"},"frc":{"language":"frc","value":"Museo
        Galileo"},"frp":{"language":"frp","value":"Museo Galileo"},"fur":{"language":"fur","value":"Museo
        Galileo"},"gag":{"language":"gag","value":"Museo Galileo"},"gan-hans":{"language":"gan-hans","value":"Museo
        Galileo"},"gan-hant":{"language":"gan-hant","value":"Museo Galileo"},"glk":{"language":"glk","value":"Museo
        Galileo"},"grc":{"language":"grc","value":"Museo Galileo"},"ha":{"language":"ha","value":"Museo
        Galileo"},"hif-latn":{"language":"hif-latn","value":"Museo Galileo"},"hil":{"language":"hil","value":"Museo
        Galileo"},"ho":{"language":"ho","value":"Museo Galileo"},"hsb":{"language":"hsb","value":"Museo
        Galileo"},"hz":{"language":"hz","value":"Museo Galileo"},"ie":{"language":"ie","value":"Museo
        Galileo"},"ig":{"language":"ig","value":"Museo Galileo"},"ii":{"language":"ii","value":"Museo
        Galileo"},"ik":{"language":"ik","value":"Museo Galileo"},"ike-cans":{"language":"ike-cans","value":"Museo
        Galileo"},"ike-latn":{"language":"ike-latn","value":"Museo Galileo"},"inh":{"language":"inh","value":"Museo
        Galileo"},"iu":{"language":"iu","value":"Museo Galileo"},"jut":{"language":"jut","value":"Museo
        Galileo"},"kbd-cyrl":{"language":"kbd-cyrl","value":"Museo Galileo"},"kg":{"language":"kg","value":"Museo
        Galileo"},"khw":{"language":"khw","value":"Museo Galileo"},"ki":{"language":"ki","value":"Museo
        Galileo"},"kiu":{"language":"kiu","value":"Museo Galileo"},"kj":{"language":"kj","value":"Museo
        Galileo"},"kk-arab":{"language":"kk-arab","value":"Museo Galileo"},"kk-cyrl":{"language":"kk-cyrl","value":"Museo
        Galileo"},"kk-latn":{"language":"kk-latn","value":"Museo Galileo"},"kk-cn":{"language":"kk-cn","value":"Museo
        Galileo"},"kk-kz":{"language":"kk-kz","value":"Museo Galileo"},"kk-tr":{"language":"kk-tr","value":"Museo
        Galileo"},"km":{"language":"km","value":"Museo Galileo"},"ko-kp":{"language":"ko-kp","value":"Museo
        Galileo"},"koi":{"language":"koi","value":"Museo Galileo"},"kr":{"language":"kr","value":"Museo
        Galileo"},"kri":{"language":"kri","value":"Museo Galileo"},"krj":{"language":"krj","value":"Museo
        Galileo"},"ks":{"language":"ks","value":"Museo Galileo"},"ks-arab":{"language":"ks-arab","value":"Museo
        Galileo"},"ks-deva":{"language":"ks-deva","value":"Museo Galileo"},"ku-latn":{"language":"ku-latn","value":"Museo
        Galileo"},"ku-arab":{"language":"ku-arab","value":"Museo Galileo"},"kv":{"language":"kv","value":"Museo
        Galileo"},"lbe":{"language":"lbe","value":"Museo Galileo"},"lfn":{"language":"lfn","value":"Museo
        Galileo"},"lg":{"language":"lg","value":"Museo Galileo"},"liv":{"language":"liv","value":"Museo
        Galileo"},"lo":{"language":"lo","value":"Museo Galileo"},"loz":{"language":"loz","value":"Museo
        Galileo"},"ltg":{"language":"ltg","value":"Museo Galileo"},"lus":{"language":"lus","value":"Museo
        Galileo"},"lzz":{"language":"lzz","value":"Museo Galileo"},"mdf":{"language":"mdf","value":"Museo
        Galileo"},"mh":{"language":"mh","value":"Museo Galileo"},"mo":{"language":"mo","value":"Museo
        Galileo"},"mrj":{"language":"mrj","value":"Museo Galileo"},"mus":{"language":"mus","value":"Museo
        Galileo"},"myv":{"language":"myv","value":"Museo Galileo"},"ng":{"language":"ng","value":"Museo
        Galileo"},"niu":{"language":"niu","value":"Museo Galileo"},"nov":{"language":"nov","value":"Museo
        Galileo"},"nrm":{"language":"nrm","value":"Museo Galileo"},"nso":{"language":"nso","value":"Museo
        Galileo"},"nv":{"language":"nv","value":"Museo Galileo"},"ny":{"language":"ny","value":"Museo
        Galileo"},"om":{"language":"om","value":"Museo Galileo"},"pag":{"language":"pag","value":"Museo
        Galileo"},"pap":{"language":"pap","value":"Museo Galileo"},"pdc":{"language":"pdc","value":"Museo
        Galileo"},"pdt":{"language":"pdt","value":"Museo Galileo"},"pi":{"language":"pi","value":"Museo
        Galileo"},"pih":{"language":"pih","value":"Museo Galileo"},"pnt":{"language":"pnt","value":"Museo
        Galileo"},"prg":{"language":"prg","value":"Museo Galileo"},"qug":{"language":"qug","value":"Museo
        Galileo"},"rgn":{"language":"rgn","value":"Museo Galileo"},"rif":{"language":"rif","value":"Museo
        Galileo"},"rm":{"language":"rm","value":"Museo Galileo"},"rmy":{"language":"rmy","value":"Museo
        Galileo"},"rn":{"language":"rn","value":"Museo Galileo"},"ruq":{"language":"ruq","value":"Museo
        Galileo"},"ruq-cyrl":{"language":"ruq-cyrl","value":"Museo Galileo"},"ruq-latn":{"language":"ruq-latn","value":"Museo
        Galileo"},"rw":{"language":"rw","value":"Museo Galileo"},"sat":{"language":"sat","value":"Museo
        Galileo"},"sd":{"language":"sd","value":"Museo Galileo"},"sdc":{"language":"sdc","value":"Museo
        Galileo"},"sei":{"language":"sei","value":"Museo Galileo"},"sg":{"language":"sg","value":"Museo
        Galileo"},"shi":{"language":"shi","value":"Museo Galileo"},"shi-tfng":{"language":"shi-tfng","value":"Museo
        Galileo"},"shi-latn":{"language":"shi-latn","value":"Museo Galileo"},"sli":{"language":"sli","value":"Museo
        Galileo"},"sm":{"language":"sm","value":"Museo Galileo"},"sma":{"language":"sma","value":"Museo
        Galileo"},"sn":{"language":"sn","value":"Museo Galileo"},"ss":{"language":"ss","value":"Museo
        Galileo"},"st":{"language":"st","value":"Museo Galileo"},"tcy":{"language":"tcy","value":"Museo
        Galileo"},"tg-cyrl":{"language":"tg-cyrl","value":"Museo Galileo"},"tg-latn":{"language":"tg-latn","value":"Museo
        Galileo"},"ti":{"language":"ti","value":"Museo Galileo"},"tly":{"language":"tly","value":"Museo
        Galileo"},"tn":{"language":"tn","value":"Museo Galileo"},"to":{"language":"to","value":"Museo
        Galileo"},"tokipona":{"language":"tokipona","value":"Museo Galileo"},"tpi":{"language":"tpi","value":"Museo
        Galileo"},"tru":{"language":"tru","value":"Museo Galileo"},"ts":{"language":"ts","value":"Museo
        Galileo"},"tt-cyrl":{"language":"tt-cyrl","value":"Museo Galileo"},"tt-latn":{"language":"tt-latn","value":"Museo
        Galileo"},"tum":{"language":"tum","value":"Museo Galileo"},"tw":{"language":"tw","value":"Museo
        Galileo"},"ty":{"language":"ty","value":"Museo Galileo"},"ug-arab":{"language":"ug-arab","value":"Museo
        Galileo"},"ug-latn":{"language":"ug-latn","value":"Museo Galileo"},"ve":{"language":"ve","value":"Museo
        Galileo"},"vmf":{"language":"vmf","value":"Museo Galileo"},"vot":{"language":"vot","value":"Museo
        Galileo"},"wa":{"language":"wa","value":"Museo Galileo"},"wo":{"language":"wo","value":"Museo
        Galileo"},"za":{"language":"za","value":"Museo Galileo"},"kbp":{"language":"kbp","value":"L\u00e9onard
        de Vinci"}},"descriptions":{"fr":{"language":"fr","value":"peintre, sculpteur,
        architecte et ing\u00e9nieur, th\u00e9oricien de l''art et chercheur scientifique
        italien"},"en":{"language":"en","value":"Italian Renaissance polymath"},"it":{"language":"it","value":"pittore,
        ingegnere e scienziato italiano"},"ilo":{"language":"ilo","value":"Italiano
        a Renasimiento, erudito, eskultor, musikero, sientista, matematiko, inheniero,
        inbentor, anatomista, heologo, kartograpo, botanista, ken m[...]
- request:
    method: get
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q12418.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 04 Jan 2018 05:57:05 GMT
      Backend-Timing:
      - D=68198 t=1515163775348568
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 62.178.122.246
    body:
      encoding: UTF-8
      string: '{"entities":{"Q12418":{"pageid":14002,"ns":0,"title":"Q12418","lastrevid":616418871,"modified":"2018-01-04T05:57:05Z","type":"item","id":"Q12418","labels":{"fr":{"language":"fr","value":"La
        Joconde"},"es":{"language":"es","value":"Mona Lisa"},"en":{"language":"en","value":"Mona
        Lisa"},"af":{"language":"af","value":"Mona Lisa"},"am":{"language":"am","value":"\u121e\u1293
        \u120a\u12db"},"ar":{"language":"ar","value":"\u0645\u0648\u0646\u0627\u0644\u064a\u0632\u0627"},"az":{"language":"az","value[...]
- request:
    method: get
[...]
