---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/wiki/Special:EntityData/Q762.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 20 Sep 2019 20:17:08 GMT
      Backend-Timing:
      - D=335227 t=1569962652694787
      Content-Type:
      - application/json; charset=UTF-8
      X-Analytics:
      - WMF-Last-Access=01-Oct-2019;WMF-Last-Access-Global=01-Oct-2019;https=1
      X-Client-Ip:
      - 70.179.22.74
    body:
      encoding: UTF-8
      string: '{"entities":{"Q762":{"pageid":1069,"ns":0,"title":"Q762","lastrevid":1016897449,"modified":"2019-09-20T20:17:08Z","type":"item","id":"Q762","labels":{"ay":{"language":"ay","value":"Leonardo
        da Vinci"},"pnb":{"language":"pnb","value":"\u0644\u06cc\u0648\u0646\u0627\u0631\u0688\u0648
        \u0688\u06cc \u0648\u0646\u0686\u06cc"},"na":{"language":"na","value":"Leonardo
        da Vinci"},"mk":{"language":"mk","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"zu":{"language":"zu","value":"Leonardo
        da Vinci"},"xh":{"language":"xh","value":"ULeonardo da Vinci"},"kk-latn":{"language":"kk-latn","value":"Museo
        Galileo"},"map-bms":{"language":"map-bms","value":"Leonardo da Vinci"},"ko-kp":{"language":"ko-kp","value":"Museo
        Galileo"},"uk":{"language":"uk","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0456\u043d\u0447\u0456"},"sc":{"language":"sc","value":"Leonardo
        da Vinci"},"bxr":{"language":"bxr","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"za":{"language":"za","value":"Museo
        Galileo"},"ug-arab":{"language":"ug-arab","value":"Museo Galileo"},"ext":{"language":"ext","value":"Leonardo
        da Vinci"},"is":{"language":"is","value":"Leonardo da Vinci"},"de-at":{"language":"de-at","value":"Museo
        Galileo"},"eo":{"language":"eo","value":"Leonardo da Vinci"},"pfl":{"language":"pfl","value":"Leonardo
        da Vinci"},"glk":{"language":"glk","value":"Museo Galileo"},"sco":{"language":"sco","value":"Leonardo
        da Vinci"},"tcy":{"language":"tcy","value":"Museo Galileo"},"sgs":{"language":"sgs","value":"Leuonards
        da V\u0117n\u010d\u0117s"},"ltg":{"language":"ltg","value":"Museo Galileo"},"nv":{"language":"nv","value":"Museo
        Galileo"},"zh-sg":{"language":"zh-sg","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"kbd-cyrl":{"language":"kbd-cyrl","value":"Museo
        Galileo"},"az":{"language":"az","value":"Leonardo da Vin\u00e7i"},"mzn":{"language":"mzn","value":"\u0644\u0626\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627\u0648\u06cc\u0646\u0686\u06cc"},"zh-hk":{"language":"zh-hk","value":"\u674e\u5b89\u7d0d\u5ea6\u00b7\u9054\u6587\u897f"},"min":{"language":"min","value":"Leonardo
        da Vinci"},"st":{"language":"st","value":"Museo Galileo"},"lez":{"language":"lez","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"tn":{"language":"tn","value":"Museo
        Galileo"},"shi-latn":{"language":"shi-latn","value":"Museo Galileo"},"kr":{"language":"kr","value":"Museo
        Galileo"},"inh":{"language":"inh","value":"Museo Galileo"},"lt":{"language":"lt","value":"Leonardo
        da Vinci"},"ha":{"language":"ha","value":"Museo Galileo"},"kj":{"language":"kj","value":"Museo
        Galileo"},"kab":{"language":"kab","value":"Leonardo da Vinci"},"ta":{"language":"ta","value":"\u0bb2\u0bbf\u0baf\u0bca\u0ba9\u0bbe\u0bb0\u0bcd\u0b9f\u0bcb
        \u0b9f\u0bbe \u0bb5\u0bbf\u0ba9\u0bcd\u0b9a\u0bbf"},"ro":{"language":"ro","value":"Leonardo
        da Vinci"},"av":{"language":"av","value":"Museo Galileo"},"lb":{"language":"lb","value":"Leonardo
        da Vinci"},"stq":{"language":"stq","value":"Leonardo da Vinci"},"lo":{"language":"lo","value":"Museo
        Galileo"},"sw":{"language":"sw","value":"Leonardo da Vinci"},"gor":{"language":"gor","value":"Leonardo
        da Vinci"},"da":{"language":"da","value":"Leonardo da Vinci"},"ca":{"language":"ca","value":"Leonardo
        da Vinci"},"nan":{"language":"nan","value":"Leonardo da Vinci"},"lzz":{"language":"lzz","value":"Museo
        Galileo"},"jbo":{"language":"jbo","value":"leonardos.davintcis"},"gan-hans":{"language":"gan-hans","value":"Museo
        Galileo"},"mai":{"language":"mai","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u092d\u093f\u0928\u094d\u091a\u0940"},"srn":{"language":"srn","value":"Leonardo
        da Vinci"},"gn":{"language":"gn","value":"Leonardo da Vinci"},"bn":{"language":"bn","value":"\u09b2\u09bf\u0993\u09a8\u09be\u09b0\u09cd\u09a6\u09cb
        \u09a6\u09be \u09ad\u09bf\u099e\u09cd\u099a\u09bf"},"ug-latn":{"language":"ug-latn","value":"Museo
        Galileo"},"xal":{"language":"xal","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"th":{"language":"th","value":"\u0e40\u0e25\u0e42\u0e2d\u0e19\u0e32\u0e23\u0e4c\u0e42\u0e14
        \u0e14\u0e32 \u0e27\u0e34\u0e19\u0e0a\u0e35"},"tpi":{"language":"tpi","value":"Museo
        Galileo"},"kk":{"language":"kk","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"ru":{"language":"ru","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"cs":{"language":"cs","value":"Leonardo
        da Vinci"},"an":{"language":"an","value":"Leonardo da Vinci"},"diq":{"language":"diq","value":"Leonardo
        da Vinci"},"ne":{"language":"ne","value":"\u0932\u0947\u0913\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u092d\u093f\u091e\u094d\u091a\u0940"},"ab":{"language":"ab","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"de":{"language":"de","value":"Leonardo
        da Vinci"},"sm":{"language":"sm","value":"Museo Galileo"},"pag":{"language":"pag","value":"Museo
        Galileo"},"war":{"language":"war","value":"Leonardo da Vinci"},"sg":{"language":"sg","value":"Museo
        Galileo"},"kbp":{"language":"kbp","value":"L\u00e9onard de Vinci"},"ar":{"language":"ar","value":"\u0644\u064a\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627 \u0641\u064a\u0646\u0634\u064a"},"mdf":{"language":"mdf","value":"Museo
        Galileo"},"en":{"language":"en","value":"Leonardo da Vinci"},"os":{"language":"os","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"yue":{"language":"yue","value":"\u9054\u6587\u897f"},"zh-cn":{"language":"zh-cn","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"sma":{"language":"sma","value":"Museo
        Galileo"},"dz":{"language":"dz","value":"Museo Galileo"},"et":{"language":"et","value":"Leonardo
        da Vinci"},"cbk-zam":{"language":"cbk-zam","value":"Leonardo da Vinci"},"wo":{"language":"wo","value":"Museo
        Galileo"},"bug":{"language":"bug","value":"Museo Galileo"},"ug":{"language":"ug","value":"\u062f\u0627\u06cb\u06d0\u0649\u0646\u0686\u0649"},"nn":{"language":"nn","value":"Leonardo
        da Vinci"},"chr":{"language":"chr","value":"Museo Galileo"},"cho":{"language":"cho","value":"Museo
        Galileo"},"gl":{"language":"gl","value":"Leonardo da Vinci"},"zh-mo":{"language":"zh-mo","value":"\u674e\u5b89\u7d0d\u5ea6\u00b7\u9054\u6587\u897f"},"bi":{"language":"bi","value":"Leonardo
        da Vinci"},"kg":{"language":"kg","value":"Museo Galileo"},"ku-arab":{"language":"ku-arab","value":"Museo
        Galileo"},"ig":{"language":"ig","value":"Museo Galileo"},"hil":{"language":"hil","value":"Museo
        Galileo"},"frp":{"language":"frp","value":"Museo Galileo"},"tg":{"language":"tg","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"fit":{"language":"fit","value":"Museo
        Galileo"},"ki":{"language":"ki","value":"Museo Galileo"},"mr":{"language":"mr","value":"\u0932\u093f\u0913\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u0935\u093f\u0902\u091a\u0940"},"fo":{"language":"fo","value":"Leonardo
        da Vinci"},"hif-latn":{"language":"hif-latn","value":"Museo Galileo"},"kk-cn":{"language":"kk-cn","value":"Museo
        Galileo"},"csb":{"language":"csb","value":"Museo Galileo"},"fi":{"language":"fi","value":"Leonardo
        da Vinci"},"shi":{"language":"shi","value":"Museo Galileo"},"id":{"language":"id","value":"Leonardo
        da Vinci"},"gom":{"language":"gom","value":"Leonardo da Vinci"},"gu":{"language":"gu","value":"\u0ab2\u0abf\u0a93\u0aa8\u0abe\u0ab0\u0acd\u0aa1\u0acb
        \u0aa6 \u0ab5\u0abf\u0aa8\u0acd\u0a9a\u0ac0"},"ruq-cyrl":{"language":"ruq-cyrl","value":"Museo
        Galileo"},"tg-cyrl":{"language":"tg-cyrl","value":"Museo Galileo"},"ilo":{"language":"ilo","value":"Leonardo
        da Vinci"},"roa-tara":{"language":"roa-tara","value":"Leonardo da Vinci"},"tk":{"language":"tk","value":"Leonardo
        da Win\u00e7i"},"ceb":{"language":"ceb","value":"Leonardo da Vinci"},"zh-hant":{"language":"zh-hant","value":"\u674e\u5967\u7d0d\u591a\u00b7\u9054\u6587\u897f"},"ike-cans":{"language":"ike-cans","value":"Museo
        Galileo"},"nb":{"language":"nb","value":"Leonardo da Vinci"},"hif":{"language":"hif","value":"Leonardo
        da Vinci"},"zh-hans":{"language":"zh-hans","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"kri":{"language":"kri","value":"Museo
        Galileo"},"bg":{"language":"bg","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"eu":{"language":"eu","value":"Leonardo
        da Vinci"},"prg":{"language":"prg","value":"Museo Galileo"},"tyv":{"language":"tyv","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"vo":{"language":"vo","value":"Leonardo
        da Vinci"},"new":{"language":"new","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u092d\u093f\u0928\u094d\u0938\u0940"},"kl":{"language":"kl","value":"Leonardo
        da Vinci"},"sa":{"language":"sa","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u0935\u093f\u0928\u094d\u0938\u0940"},"dsb":{"language":"dsb","value":"Museo
        Galileo"},"vec":{"language":"vec","value":"Leonardo da Vinci"},"cdo":{"language":"cdo","value":"Museo
        Galileo"},"bcc":{"language":"bcc","value":"Museo Galileo"},"ho":{"language":"ho","value":"Museo
        Galileo"},"tt-cyrl":{"language":"tt-cyrl","value":"Museo Galileo"},"bs":{"language":"bs","value":"Leonardo
        da Vinci"},"sh":{"language":"sh","value":"Leonardo Da Vinci"},"ii":{"language":"ii","value":"Museo
        Galileo"},"ba":{"language":"ba","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"sah":{"language":"sah","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"khw":{"language":"khw","value":"Museo
        Galileo"},"pi":{"language":"pi","value":"Museo Galileo"},"cu":{"language":"cu","value":"Museo
        Galileo"},"it":{"language":"it","value":"Leonardo da Vinci"},"fur":{"language":"fur","value":"Museo
        Galileo"},"sd":{"language":"sd","value":"Museo Galileo"},"sn":{"language":"sn","value":"Museo
        Galileo"},"ie":{"language":"ie","value":"Museo Galileo"},"vmf":{"language":"vmf","value":"Museo
        Galileo"},"gd":{"language":"gd","value":"Leonardo Da Vinci"},"ka":{"language":"ka","value":"\u10da\u10d4\u10dd\u10dc\u10d0\u10e0\u10d3\u10dd
        \u10d3\u10d0 \u10d5\u10d8\u10dc\u10e9\u10d8"},"fa":{"language":"fa","value":"\u0644\u0626\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627\u0648\u06cc\u0646\u0686\u06cc"},"fj":{"language":"fj","value":"Museo
        Galileo"},"to":{"language":"to","value":"Museo Galileo"},"mo":{"language":"mo","value":"Museo
        Galileo"},"mi":{"language":"mi","value":"Leonardo da Vinci"},"pl":{"language":"pl","value":"Leonardo
        da Vinci"},"sr-el":{"language":"sr-el","value":"Leonardo da Vin\u010di"},"ee":{"language":"ee","value":"Museo
        Galileo"},"kn":{"language":"kn","value":"\u0cb2\u0cbf\u0caf\u0ca8\u0cbe\u0cb0\u0ccd\u0ca1\u0cca
        \u0ca1 \u0cb5\u0cbf\u0c82\u0c9a\u0cbf"},"bm":{"language":"bm","value":"Museo
        Galileo"},"wa":{"language":"wa","value":"Museo Galileo"},"niu":{"language":"niu","value":"Museo
        Galileo"},"sv":{"language":"sv","value":"Leonardo da Vinci"},"sei":{"language":"sei","value":"Museo
        Galileo"},"tru":{"language":"tru","value":"Museo Galileo"},"ve":{"language":"ve","value":"Museo
        Galileo"},"pnt":{"language":"pnt","value":"Museo Galileo"},"mhr":{"language":"mhr","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"ml":{"language":"ml","value":"\u0d32\u0d3f\u0d2f\u0d28\u0d3e\u0d7c\u0d21\u0d4b
        \u0d21\u0d3e \u0d35\u0d3f\u0d1e\u0d4d\u0d1a\u0d3f"},"fy":{"language":"fy","value":"Leonardo
        da Vinci"},"ku":{"language":"ku","value":"Leonardo Da Vinci"},"ts":{"language":"ts","value":"Museo
        Galileo"},"aln":{"language":"aln","value":"Museo Galileo"},"ln":{"language":"ln","value":"L\u00e9onard
        Ya Vinci"},"jut":{"language":"jut","value":"Museo Galileo"},"mrj":{"language":"mrj","value":"Museo
        Galileo"},"br":{"language":"br","value":"Leonardo da Vinci"},"chy":{"language":"chy","value":"Museo
        Galileo"},"gsw":{"language":"gsw","value":"Leonardo da Vinci"},"lmo":{"language":"lmo","value":"Leonard
        da Vinci"},"shi-tfng":{"language":"shi-tfng","value":"Museo Galileo"},"hak":{"language":"hak","value":"Leonardo
        da Vinci"},"mus":{"language":"mus","value":"Museo Galileo"},"sk":{"language":"sk","value":"Leonardo
        da Vinci"},"hz":{"language":"hz","value":"Museo Galileo"},"ff":{"language":"ff","value":"Museo
        Galileo"},"ny":{"language":"ny","value":"Museo Galileo"},"la":{"language":"la","value":"Leonardus
        Vincius"},"so":{"language":"so","value":"Leonardo da Vinci"},"jam":{"language":"jam","value":"Lionaado
        da Vinchi"},"ku-latn":{"language":"ku-latn","value":"Museo Galileo"},"dtp":{"language":"dtp","value":"Museo
        Galileo"},"yo":{"language":"yo","value":"Leonardo da Vinci"},"zh-tw":{"language":"zh-tw","value":"\u674e\u5967\u7d0d\u591a\u00b7\u9054\u6587\u897f"},"es":{"language":"es","value":"Leonardo
        da Vinci"},"or":{"language":"or","value":"\u0b32\u0b3f\u0b13\u0b28\u0b3e\u0b30\u0b4d\u0b21\u0b4b
        \u0b26\u0b3e \u0b2d\u0b3f\u0b28\u0b4d\u200c\u0b38\u0b3f"},"myv":{"language":"myv","value":"Museo
        Galileo"},"yi":{"language":"yi","value":"\u05dc\u05e2\u05d0\u05e0\u05d0\u05e8\u05d3\u05d0
        \u05d3\u05d0 \u05d5\u05d5\u05d9\u05e0\u05d8\u05e9\u05d9"},"ga":{"language":"ga","value":"Leonardo
        da Vinci"},"gag":{"language":"gag","value":"Museo Galileo"},"ang":{"language":"ang","value":"Museo
        Galileo"},"gan":{"language":"gan","value":"\u9054\u82ac\u5947"},"crh-cyrl":{"language":"crh-cyrl","value":"Museo
        Galileo"},"rw":{"language":"rw","value":"Museo Galileo"},"vot":{"language":"vot","value":"Museo
        Galileo"},"tet":{"language":"tet","value":"Leonardo da Vinci"},"kk-kz":{"language":"kk-kz","value":"Museo
        Galileo"},"ast":{"language":"ast","value":"Leonardo da Vinci"},"nap":{"language":"nap","value":"Leonardo
        da Vinci"},"ms":{"language":"ms","value":"Leonardo Da Vinci"},"jv":{"language":"jv","value":"Leonardo
        Da Vinci"},"aa":{"language":"aa","value":"Museo Galileo"},"hi":{"language":"hi","value":"\u0932\u093f\u0913\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u0935\u093f\u0902\u091a\u0940"},"tt":{"language":"tt","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"mh":{"language":"mh","value":"Museo
        Galileo"},"mn":{"language":"mn","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"sq":{"language":"sq","value":"Leonardo
        da Vin\u00e7i"},"pms":{"language":"pms","value":"Leonard da Vinci"},"sl":{"language":"sl","value":"Leonardo
        da Vinci"},"crh":{"language":"crh","value":"Leonardo da Vin\u00e7i"},"bjn":{"language":"bjn","value":"Museo
        Galileo"},"bho":{"language":"bho","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0921\u094b
        \u0921\u093e \u0935\u093f\u0902\u091a\u0940"},"nrm":{"language":"nrm","value":"Museo
        Galileo"},"en-gb":{"language":"en-gb","value":"Leonardo da Vinci"},"kaa":{"language":"kaa","value":"Leonardo
        da Vinci"},"ch":{"language":"ch","value":"Leonardo da Vinci"},"kk-arab":{"language":"kk-arab","value":"Museo
        Galileo"},"nds":{"language":"nds","value":"Leonardo da Vinci"},"ksh":{"language":"ksh","value":"Leonardo
        da Vinci"},"bcl":{"language":"bcl","value":"Leonardo Da Vinci"},"ps":{"language":"ps","value":"\u0644\u064a\u0648\u0646\u0627\u0631\u0689\u0648
        \u0689\u0627\u0648\u06d0\u0646\u0686\u064a"},"el":{"language":"el","value":"\u039b\u03b5\u03bf\u03bd\u03ac\u03c1\u03bd\u03c4\u03bf
        \u03bd\u03c4\u03b1 \u0392\u03af\u03bd\u03c4\u03c3\u03b9"},"lv":{"language":"lv","value":"Leonardo
        da Vin\u010di"},"rup":{"language":"rup","value":"Leonardo da Vinci"},"ti":{"language":"ti","value":"Museo
        Galileo"},"vls":{"language":"vls","value":"Leonardo da Vinci"},"gv":{"language":"gv","value":"Leonardo
        da Vinci"},"se":{"language":"se","value":"Leonardo da Vinci"},"pih":{"language":"pih","value":"Museo
        Galileo"},"uz":{"language":"uz","value":"Leonardo da Vinci"},"ace":{"language":"ace","value":"Museo
        Galileo"},"cv":{"language":"cv","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"kk-cyrl":{"language":"kk-cyrl","value":"Museo
        Galileo"},"pt":{"language":"pt","value":"Leonardo da Vinci"},"egl":{"language":"egl","value":"Museo
        Galileo"},"zh-my":{"language":"zh-my","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"de-ch":{"language":"de-ch","value":"Leonardo
        da Vinci"},"tl":{"language":"tl","value":"Leonardo da Vinci"},"lzh":{"language":"lzh","value":"\u9054\u6587\u897f"},"eml":{"language":"eml","value":"Museo
        Galileo"},"hy":{"language":"hy","value":"\u053c\u0565\u0578\u0576\u0561\u0580\u0564\u0578
        \u0564\u0561 \u054e\u056b\u0576\u0579\u056b"},"pcd":{"language":"pcd","value":"Leonardo
        da Vinci"},"tum":{"language":"tum","value":"Museo Galileo"},"vep":{"language":"vep","value":"Leonardo
        da Vin\u010di"},"loz":{"language":"loz","value":"Museo Galileo"},"hu":{"language":"hu","value":"Leonardo
        da Vinci"},"nl":{"language":"nl","value":"Leonardo da Vinci"},"ks-arab":{"language":"ks-arab","value":"Museo
        Galileo"},"kiu":{"language":"kiu","value":"Museo Galileo"},"pam":{"language":"pam","value":"Leonardo
        da Vinci"},"rmy":{"language":"rmy","value":"Museo Galileo"},"ruq":{"language":"ruq","value":"Museo
        Galileo"},"kbd":{"language":"kbd","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"kk-tr":{"language":"kk-tr","value":"Museo
        Galileo"},"mwl":{"language":"mwl","value":"Leonardo da Vinci"},"as":{"language":"as","value":"\u09b2\u09bf\u0985''\u09a8\u09be\u09f0\u09cd\u09a1''
        \u09a6\u09be \u09ad\u09bf\u09a8\u09cd\u09b8\u09bf"},"lus":{"language":"lus","value":"Museo
        Galileo"},"my":{"language":"my","value":"\u101c\u102e\u101a\u102d\u102f\u1014\u102c\u1012\u102d\u102f\u1012\u102b\u1017\u1004\u103a\u1001\u103b\u102e"},"nov":{"language":"nov","value":"Museo
        Galileo"},"wuu":{"language":"wuu","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"lg":{"language":"lg","value":"Museo
        Galileo"},"crh-latn":{"language":"crh-latn","value":"Leonardo da Vin\u00e7i"},"rm":{"language":"rm","value":"Museo
        Galileo"},"pdc":{"language":"pdc","value":"Museo Galileo"},"ckb":{"language":"ckb","value":"\u0644\u06cc\u06c6\u0646\u0627\u0631\u062f\u06c6
        \u062f\u0627 \u06a4\u06cc\u0646\u0686\u06cc"},"cy":{"language":"cy","value":"Leonardo
        da Vinci"},"nso":{"language":"nso","value":"Museo Galileo"},"ur":{"language":"ur","value":"\u0644\u06cc\u0648\u0646\u0627\u0631\u0688\u0648
        \u0688\u0627 \u0648\u0646\u0686\u06cc"},"ky":{"language":"ky","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"fr":{"language":"fr","value":"L\u00e9onard
        de Vinci"},"zh":{"language":"zh","value":"\u5217\u5965\u7eb3\u591a\u00b7\u8fbe\u00b7\u82ac\u5947"},"hsb":{"language":"hsb","value":"Museo
        Galileo"},"mt":{"language":"mt","value":"Leonardo da Vinci"},"li":{"language":"li","value":"Leonardo
        da Vinci"},"vro":{"language":"vro","value":"Da Vinci Leonardo"},"krc":{"language":"krc","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"su":{"language":"su","value":"Leonardo
        da Vinci"},"ia":{"language":"ia","value":"Leonardo da Vinci"},"pa":{"language":"pa","value":"\u0a32\u0a3f\u0a13\u0a28\u0a3e\u0a30\u0a26\u0a4b
        \u0a26\u0a3e \u0a35\u0a3f\u0a70\u0a1a\u0a40"},"brh":{"language":"brh","value":"Museo
        Galileo"},"vi":{"language":"vi","value":"Leonardo da Vinci"},"ary":{"language":"ary","value":"Museo
        Galileo"},"lbe":{"language":"lbe","value":"Museo Galileo"},"ty":{"language":"ty","value":"Museo
        Galileo"},"af":{"language":"af","value":"Leonardo da Vinci"},"rif":{"language":"rif","value":"Museo
        Galileo"},"sli":{"language":"sli","value":"Museo Galileo"},"si":{"language":"si","value":"\u0dbd\u0dd2\u0dba\u0db1\u0dcf\u0da9\u0ddd
        \u0da9\u0dcf \u0dc0\u0dd2\u0db1\u0dca\u0dc3\u0dd2"},"km":{"language":"km","value":"Museo
        Galileo"},"liv":{"language":"liv","value":"Museo Galileo"},"scn":{"language":"scn","value":"Liunardu
        da Vinci"},"grc":{"language":"grc","value":"Museo Galileo"},"be":{"language":"be","value":"\u041b\u0435\u0430\u043d\u0430\u0440\u0434\u0430
        \u0434\u0430 \u0412\u0456\u043d\u0447\u044b"},"xmf":{"language":"xmf","value":"\u10da\u10d4\u10dd\u10dc\u10d0\u10e0\u10d3\u10dd
        \u10d3\u10d0 \u10d5\u10d8\u10dc\u10e9\u10d8"},"krj":{"language":"krj","value":"Museo
        Galileo"},"oc":{"language":"oc","value":"Leonardo da Vinci"},"frc":{"language":"frc","value":"Museo
        Galileo"},"pap":{"language":"pap","value":"Museo Galileo"},"lfn":{"language":"lfn","value":"Museo
        Galileo"},"haw":{"language":"haw","value":"Leonardo da Vinci"},"cps":{"language":"cps","value":"Museo
        Galileo"},"gan-hant":{"language":"gan-hant","value":"Museo Galileo"},"he":{"language":"he","value":"\u05dc\u05d0\u05d5\u05e0\u05e8\u05d3\u05d5
        \u05d3\u05d4 \u05d5\u05d9\u05e0\u05e6''\u05d9"},"om":{"language":"om","value":"Museo
        Galileo"},"mg":{"language":"mg","value":"L\u00e9onard de Vinci"},"anp":{"language":"anp","value":"Museo
        Galileo"},"am":{"language":"am","value":"\u120a\u12ee\u1293\u122d\u12f6 \u12f3\u126c\u1295\u127a"},"co":{"language":"co","value":"Museo
        Galileo"},"olo":{"language":"olo","value":"Leonardo da Vinci"},"got":{"language":"got","value":"\ud800\udf3b\ud800\udf34\ud800\udf49\ud800\udf3d\ud800\udf30\ud800\udf42\ud800\udf33\ud800\udf49
        \ud800\udf33\ud800\udf30 \ud800\udf45\ud800\udf39\ud800\udf3d\ud800\udf44\ud800\udf43\ud800\udf3e\ud800\udf39"},"ks":{"language":"ks","value":"Museo
        Galileo"},"ks-deva":{"language":"ks-deva","value":"Museo Galileo"},"bqi":{"language":"bqi","value":"Museo
        Galileo"},"te":{"language":"te","value":"\u0c32\u0c3f\u0c2f\u0c4a\u0c28\u0c3e\u0c30\u0c4d\u0c21\u0c4b
        \u0c21\u0c3e\u0c35\u0c3f\u0c28\u0c4d\u0c38\u0c3f"},"avk":{"language":"avk","value":"Museo
        Galileo"},"koi":{"language":"koi","value":"Museo Galileo"},"tly":{"language":"tly","value":"Museo
        Galileo"},"cr":{"language":"cr","value":"Museo Galileo"},"sdc":{"language":"sdc","value":"Museo
        Galileo"},"tg-latn":{"language":"tg-latn","value":"Museo Galileo"},"szl":{"language":"szl","value":"Leonardo
        da Vinci"},"qug":{"language":"qug","value":"Museo Galileo"},"bar":{"language":"bar","value":"Leonardo
        da Vinci"},"pdt":{"language":"pdt","value":"Museo Galileo"},"be-tarask":{"language":"be-tarask","value":"\u041b\u0435\u0430\u043d\u0430\u0440\u0434\u0430
        \u0434\u0430 \u0412\u0456\u043d\u0447\u044b"},"tr":{"language":"tr","value":"Leonardo
        da Vinci"},"ng":{"language":"ng","value":"Museo Galileo"},"ht":{"language":"ht","value":"Leonardo
        da Vinci"},"rgn":{"language":"rgn","value":"Museo Galileo"},"iu":{"language":"iu","value":"Museo
        Galileo"},"ce":{"language":"ce","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"kv":{"language":"kv","value":"Museo
        Galileo"},"nds-nl":{"language":"nds-nl","value":"Leonardo da Vinci"},"bo":{"language":"bo","value":"\u0f63\u0f7a\u0f0b\u0f68\u0f7c\u0f0b\u0f53\u0f0b\u0f4f\u0f7c\u0f0b\u0f4f\u0f0b\u0f67\u0fa5\u0f72\u0f53\u0f0b\u0f46\u0f72\u0f0d"},"ruq-latn":{"language":"ruq-latn","value":"Museo
        Galileo"},"en-ca":{"language":"en-ca","value":"Leonardo da Vinci"},"tw":{"language":"tw","value":"Museo
        Galileo"},"ike-latn":{"language":"ike-latn","value":"Museo Galileo"},"io":{"language":"io","value":"Leonardo
        da Vinci"},"frr":{"language":"frr","value":"Leonardo da Vinci"},"ik":{"language":"ik","value":"Museo
        Galileo"},"ak":{"language":"ak","value":"Museo Galileo"},"pt-br":{"language":"pt-br","value":"Leonardo
        da Vinci"},"rue":{"language":"rue","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0456\u043d\u0447\u0456"},"tt-latn":{"language":"tt-latn","value":"Museo
        Galileo"},"rn":{"language":"rn","value":"Museo Galileo"},"ss":{"language":"ss","value":"Museo
        Galileo"},"dv":{"language":"dv","value":"Museo Galileo"},"arz":{"language":"arz","value":"\u0644\u064a\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627\u0641\u064a\u0646\u0634\u0649"},"sat":{"language":"sat","value":"Museo
        Galileo"},"nah":{"language":"nah","value":"Leonardo da Vinci"},"qu":{"language":"qu","value":"Leonardo
        da Vinci"},"arc":{"language":"arc","value":"\u0720\u071d\u0718\u0722\u072a\u0715\u0718
        \u0715\u0717 \u0712\u0722\u072c\u072b\u071d"},"azb":{"language":"azb","value":"\u0644\u0626\u0648\u0646\u0627\u0631\u062f\u0648
        \u062f\u0627\u0648\u06cc\u0646\u0686\u06cc"},"lij":{"language":"lij","value":"Leonardo
        da Vinci"},"lad":{"language":"lad","value":"Leonardo da Vinci"},"zea":{"language":"zea","value":"Leonardo
        da Vinci"},"sr-ec":{"language":"sr-ec","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"hr":{"language":"hr","value":"Leonardo
        da Vinci"},"ja":{"language":"ja","value":"\u30ec\u30aa\u30ca\u30eb\u30c9\u30fb\u30c0\u30fb\u30f4\u30a3\u30f3\u30c1"},"ko":{"language":"ko","value":"\ub808\uc624\ub098\ub974\ub3c4
        \ub2e4 \ube48\uce58"},"kw":{"language":"kw","value":"Leonardo da Vinci"},"udm":{"language":"udm","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"sr":{"language":"sr","value":"\u041b\u0435\u043e\u043d\u0430\u0440\u0434\u043e
        \u0434\u0430 \u0412\u0438\u043d\u0447\u0438"},"hyw":{"language":"hyw","value":"\u053c\u0567\u0578\u0576\u0561\u0580\u057f\u0585
        \u057f\u0561 \u054e\u056b\u0576\u0579\u056b"},"dty":{"language":"dty","value":"\u0932\u093f\u092f\u094b\u0928\u093e\u0930\u094d\u0926\u094b
        \u0926\u093e \u092d\u093f\u0928\u094d\u091a\u0940"}},"descriptions":{"ar":{"language":"ar","value":"\u0631\u0633\u0627\u0645\u060c
        \u0645\u0647\u0646\u062f\u0633\u060c \u0639\u0627\u0644\u0645 \u0646\u0628\u0627\u062a\u060c
        \u0639\u0627\u0644\u0645 \u062e\u0631\u0627\u0626\u0637\u060c \u062c\u064a\u0648\u0644\u0648\u062c\u064a\u060c
        \u0645\u0648\u0633\u064a\u0642\u0627\u0631\u060c \u0646\u062d\u0627\u062a\u060c
        \u0645\u0639\u0645\u0627\u0631\u064a \u0648\u0639\u0627\u0644\u0645 \u0625\u064a\u0637\u0627\u0644\u064a"},"bn":{"languag[...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%0A%20%20%20%20%20%20%20%20SELECT%20?id%20$label%0A%20%20%20%20%20%20%20%20WHERE%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20?id%20rdfs:label%20?label%20.%0A%20%20%20%20%20%20%20%20%20%20%20FILTER(lang(?label)%20=%20%27en%27)%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20VALUES%20(?id)%20%7B(wd:P27)%20(wd:P937)%20(wd:P460)%20(wd:P1576)%20(wd:P800)%20(wd:P21)%20(wd:P25)%20(wd:P1066)%20(wd:P20)%20(wd:P1196)%20(wd:P39)%20(wd:P1412)%20(wd:P5008)%20(wd:P22)%20(wd:P106)%20(wd:P910)%20(wd:P101)%20(wd:P859)%20(wd:P802)%20(wd:P31)%20(wd:P135)%20(wd:P136)%20(wd:P108)%20(wd:P140)%20(wd:P1343)%20(wd:P19)%20(wd:P6379)%20(wd:P735)%20(wd:P119)%20(wd:P509)%20(wd:P551)%7D%0A%20%20%20%20%20%20
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+xml;charset=utf-8
      X-Analytics:
      - WMF-Last-Access=01-Oct-2019;WMF-Last-Access-Global=01-Oct-2019;https=1
      X-Client-Ip:
      - 70.179.22.74
    body:
      encoding: UTF-8
[...]
