%table.kor_table
  - categories.each do |c|
    %tr.authority_group_category{:id => "authority_group_category_#{c.id}"}
      %td.expanding= link_to h(c.name), c
      - if current_user && current_user.authority_group_admin?
        %td.commands.nowrap
          = link_to kor_command_image('pen'), edit_authority_group_category_path(c)
          = link_to kor_command_image('x'), authority_group_category_path(c), |
            :data => {:confirm => I18n.t('confirm.delete_authority_group_category')}, |
            :method => :delete |
