<div class="relation">
  <div class="subtitle" ng-bind="relation_name"></div>

  <div 
    kor-pagination="page"
    kor-total="count"
    kor-per-page="10"
    kor-use-search="false"
  ></div>

  <div
    ng-repeat="relationship in relationships"
    kor-relationship="relationship"
    kor-entity="entity"
    kor-master-toggle="visible"
    kor-is-medium="true"
  ></div>

</div>