<script type="text/x-kor-tpl" data-id="entity">
  <div class="kor-entity">
    <span ng-hide="entity.medium_id">
      {{entity.name}} ({{entity.id}})  
    </span>
    <img ng-show="entity.medium_id" ng-src="{{entity.medium.url}}" />
  </div>
</script>

<script type="text/x-kor-tpl" data-id="to-clipboard">
  <a href="#" ng-show="!is_guest()">
    <img src="/assets/target.gif" ng-show="!in_clipboard()" />
    <img src="/assets/target_hit.gif" ng-show="in_clipboard()" />
  </a>
</script>

<script type="text/x-kor-tpl" data-id="current-button">
  <a
    kor-to-current="true"
    href="#"
    ng-show="!is_guest() && allowed_to_any('edit')"
  >
    <img src="/assets/select.gif" />
  </a>
</script>