<div class="pagination" ng-show="total > per_page">
  <input type="submit" value="Gehe zu Seite" ng-click="update(page_input_model, $event)" />
  <span class="nowrap ng-binding">
    <a
      href="#"
      ng-click="update(page_model * 1 - 1, $event)"
      ng-class="{'kor-hidden': page_model <= 1}"
    >
      <%= kor_command_image 'pager_left' %>
    </a>
    <input
      type="number"
      ng-model="page_input_model"
    >
    von
    <span ng-bind="total_pages()"></span>
    <a
      href="#"
      ng-class="{'kor-hidden': page_model >= total_pages()}"
      ng-click="update(page_model * 1 + 1, $event)"
    >
      <%= kor_command_image 'pager_right' %>
    </a>
  </span>
</div>
