<div
  class="relationship stage_panel" 
  id="relationship_{{directed_relationship.relationship.id}}" 
>
  <div
    ng-if="editing"
    kor-relationship-editor="directed_relationship"
    kor-source-entity="entity"
    kor-close="close_editor()"
    kor-existing="true"
    kor-grid-width="{{kor_is_medium ? 1 : 3}}"
  ></div>

  <div class="header" ng-hide="editing">
    <div class="string" ng-hide="directed_relationship.to | is_medium">
      <a href="/blaze#/entities/{{directed_relationship.to.id}}">
        <strong ng-bind="directed_relationship.to | entity_display_name"></strong>

        <span class="nowrap">
          <span class="text italic" ng-bind="directed_relationship.to.kind_name"></span>
          <span class="relationship_switch" ng-show="directed_relationship.media_relations > 0">
            <a href="#" ng-click="switch(false, null, $event)">
              <img alt="Triangle_up" src="<%= image_path('triangle_up.gif') %>" ng-hide="visible">
              <img alt="Triangle_down" src="<%= image_path('triangle_down.gif') %>" ng-show="visible">
            </a>
          </span>
        </span>
      </a>
    </div>
  
    <div class="commands">
      <a
        href="#"
        ng-show="allowed_to('edit') || allowed_to('edit', directed_relationship.to)"
        ng-click="edit($event)"
      >
        <%= kor_command_image 'pen' %>
      </a>
      <a
        ng-click="destroy($event)"
        kor-confirm="{{'objects.confirm_destroy' | translate:{interpolations: {o: 'activerecord.models.relationship'} } }}"
        href="#"
        ng-show="allowed_to('edit') || allowed_to('edit', directed_relationship.to)" 
        rel="nofollow"
      >
        <%= kor_command_image 'x' %>
      </a>
    </div>

    <div class="small_content_panel" ng-show="directed_relationship.to | is_medium">
      <br />
      <div
        class="kor_medium_frame"
        id="kor_medium_frame_{{directed_relationship.to.id}}"
      >
        <a href="/blaze#/entities/{{directed_relationship.to.id}}">
          <img alt="Image" class="kor_medium" ng-src="{{directed_relationship.to.medium.url.preview}}">
        </a>
        <span class="button_bar" style="display: none;">
          <div kor-current-button="directed_relationship.to" />
          <div kor-to-clipboard="directed_relationship.to" />
        </span>
      </div>
    </div>

    <div class="clear_both"></div>
    
    <div class="properties" ng-show="directed_relationship.relationship.properties.length > 0">
      <div class="hr"></div>
      <ul>
        <li ng-repeat="property in directed_relationship.relationship.properties">
          <span ng-bind="property"></span>
        </li>
      </ul>
    </div>

    <div class="datings" ng-show="directed_relationship.relationship.datings.length > 0">
      <div class="hr"></div>
      <ul>
        <li ng-repeat="dating in directed_relationship.relationship.datings">
          <strong>{{dating.label}}:</strong>
          <span ng-bind="dating.dating_string"></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="switched_panel" ng-show="visible">

    <div
      kor-pagination="page"
      kor-total="directed_relationship.media_relations"
      kor-per-page="9"
      kor-use-search="false"
    ></div>
    
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <tr class="image_row" ng-repeat="row in media">
          <td class="image" ng-repeat="rel in row">
            <div class="kor_medium_frame" id="kor_medium_frame_{{rel.to.id}}" ng-show="rel.to.id">
              <a href="/blaze#/entities/{{rel.to.id}}">
                <img alt="Image" class="kor_medium" ng-src="{{rel.to.medium.url.thumbnail}}">
              </a>
              <span class="button_bar" style="display: none">
                <div kor-to-clipboard="rel.to" ></div>
              </span>
            </div>
            <div class="clear_both"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
