<div class="layout_panel left normal_panel_size" ng-cloak="true">
  <div class="section_panel">
    <div class="header">
      <div
        class="title"
        ng-bind="'notices.access_denied' | translate | capitalize"
      ></div>
    </div>
    <div class="clear_both"></div>
    <div class="content subtitle">
      {{'messages.access_denied' | translate}}
      <div class="hr"></div>
      <div class="subtitle">
        <a href="/login" ng-bind="'verbs.login' | translate"></a>
        |
        <a href="http://localhost:3000/blaze#/entities/465" ng-bind="'back' | translate"></a>
      </div>
    </div>
  </div>
</div>