<div class="relation">
  <div class="subtitle" ng-bind="relation.name"></div>

  <div 
    kor-pagination="relation.page"
    kor-total="relation.amount"
    kor-per-page="10"
    kor-use-search="false"
  ></div>

  <div
    ng-repeat="relationship in relation.relationships"
    kor-relationship="relationship"
    kor-entity="entity"
  ></div>
  
</div>