<div>
  <div class="pagination text-right" ng-show="data.total > data.per_page">
    <input type="submit" value="Gehe zu Seite" ng-click="update(new_page, $event)" />
    <span class="nowrap ng-binding">
      <a href="#" ng-show="data.page != 1" ng-click="update(data.page - 1, $event)">
        <img alt="Pager_left" class="kor_command_image" src="/assets/pager_left.gif" title="Zurückblättern">
      </a>
      <input type="text" ng-model="new_page">
      von
      <span ng-bind="data.total_pages"></span>
      <a href="#" ng-show="data.page < data.total_pages" ng-click="update(data.page * 1 + 1, $event)">
        <img alt="Pager_right" class="kor_command_image" src="/assets/pager_right.gif" title="Weiterblättern">
      </a>
    </span>
  </div>
</div>