<div class="pagination" ng-show="total > per_page">
  <input type="submit" value="Gehe zu Seite" ng-click="update(new_page, $event)" />
  <span class="nowrap ng-binding">
    <a
      href="#"
      ng-click="update(page * 1 - 1, $event)"
      ng-class="{'kor-hidden': page <= 1}"
    >
      <img alt="Pager_left" class="kor_command_image" src="<%= image_path('pager_left.gif') %>">
    </a>
    <input
      type="number"
      ng-model="page_input_handler"
      ng-model-options="{getterSetter: true}"
      wu-delayed-model="true"
    >
    von
    <span ng-bind="total_pages()"></span>
    <a
      href="#"
      ng-class="{'kor-hidden': page >= total_pages()}"
      ng-click="update(page * 1 + 1, $event)"
    >
      <img 
        alt="Pager_right" 
        class="kor_command_image" 
        src="<%= image_path('pager_right.gif') %>"
      >
    </a>
  </span>
</div>
