<div class="relation">
  <div class="subtitle" ng-bind="relation.name"></div>
  
  <div class="relation_switch">
    <a href="#" ng-click="switch($event)">
      <img alt="Triangle_up" src="/assets/triangle_up.gif" ng-hide="visible">
      <img alt="Triangle_down" src="/assets/triangle_down.gif" ng-show="visible">
    </a>
  </div>

  <div 
    kor-pagination="relation.page"
    kor-total="relation.amount"
    kor-per-page="10"
    kor-use-search="false"
  ></div>
  
  <div
    ng-repeat="relationship in relation.relationships"
    kor-relationship="relationship"
    kor-entity="entity"
    kor-master-toggle="visible"
  ></div>

  <div
    kor-source-entity="entity"
    kor-relationship-editor="null"
  ></div>

</div>