- content_for :form_errors, error_box(:object => @credential)

= form_for @credential, :html => {:class => 'kor_form'}, :builder => Stdlib::KorFormBuilder do |f|
  = f.kor_input :name
  = f.kor_input :description
  = f.kor_submit
