w-messaging, [data-is=w-messaging] {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -20em;
  z-index: 2000;

  .message {
    width: 40em;
    padding: 1rem;
    margin-bottom: 1px;
  }

  .error {
    background-color: $kor-error;
    color: white;
  }

  .notice {
    background-color: $kor-notice;
    color: white;
  }
}
