w-messaging, [data-is=w-messaging] {
  position: fixed;
  right: 0px;
  top: 0px;

  .message {
    padding: 1rem;
    margin-bottom: 1px;
  }

  .error {
    background-color: $kor-error;
    color: white;
  }

  .notice {
    background-color: $kor-notice;
    color: white;
  }
}
