!!! 5

%html
  %head
    = stylesheet_link_tag 'frontend'
    = javascript_include_tag 'frontend'
      
  %body{'data-root-path' => root_path, :style => 'display: none', 'data-module' => params[:module]}
