<div class="errors" ng-show="flash_error()">
  <div class="error" ng-bind="flash_error() | capitalize"></div>
</div>

<div class="notices" ng-show="flash_notice()">
  <div class="notice" ng-bind="flash_notice() | capitalize"></div>
</div>