.kor_extended_image{:id => "kor_extended_image_#{entity.id}"}
  %table.kor_extended_image
    %tr
      %td.image= kor_entity(entity, :style => :preview)
      - unless entity.primary_entities(current_user).empty?
        %tr
          %td
            .hr
      - entity.primary_entities(current_user).each do |pe|
        - pe.secondary_entities(current_user).each do |se|
          %tr
            %td.subtitle= link_to h(se.display_name), web_path(:anchor => entity_path(se))
        %tr
          %td.text= link_to h(pe.display_name), web_path(:anchor => entity_path(pe))
