.kor_extended_image{:id => "kor_extended_image_#{entity.id}"}
  %table.kor_extended_image
    %tr
      %td.image= kor_entity(entity, :style => :preview)
      - unless primary_entities.empty?
        %tr
          %td
            .hr
      - primary_entities.each do |pe|
        - pe.related(:assume => :primary, :search => :secondary).reject{|se| se.is_medium?}.each do |se|
          %tr
            %td.subtitle= link_to h(se.display_name), se
        %tr
          %td.text= link_to h(pe.display_name), pe
