.form_field
  %ul
    %li.header= select_tag "query[relationships][][relation_name]", options_for_select(relation_names, relation_name)
    %li= text_field_tag "query[relationships][][entity_name]", entity_name
