- content_for :normal do
  = section_panel(:title => yield(:normal_title),
    :subtitle => yield(:normal_subtitle),
    :commands => yield(:normal_commands),
    :switch => yield(:normal_switch),
    :content => yield(:normal_content))

- content_for :small do
  = section_panel(:title => yield(:small_title),
    :subtitle => yield(:small_subtitle),
    :commands => yield(:small_commands),
    :switch => yield(:small_switch),
    :content => yield(:small_content))

= render :file => 'layouts/normal_small_bare'
