- content_for :canvas do

  .layout_panel.wide
    = section_panel(:title => yield(:title),
      :subtitle => yield(:subtitle),
      :commands => yield(:commands),
      :switch => yield(:switch),
      :content => yield(:content))

= render :file => 'layouts/application'
